
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    background: url(../images/background.jpg) repeat-x top;
}
.grid a:link {

	color: #666;
	font-weight: bold;
	text-decoration:none;

}
.grid a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.grid a:active,
.grid a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.grid {
	font-family:Arial, sans-serif;
    width:980px;
    font-weight: 400;
    margin:auto auto 10px auto;
	color:#444444;
	font-size:13px;


	border:1px solid #000;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.grid th {
    padding: 10px 25px;
	background-color: #3B5998;
    color:#FFFFFF;
    margin-left:10px;
    font-weight: 500;
    font-size:14px;
    color:#FFFFFF;


}

.grid tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.grid tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}.grid tr{
	text-align: center;
	padding-left:20px;
}
.grid tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
.grid tr td {
	padding:10px;
	border: 1px solid #444444;

}
.grid tr.even td{
	background:#FFFACD;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.grid tr:last-child td{
	border-bottom:0;
}
.grid tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.grid tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.grid tr:hover td{

	background: #2e8bcc;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFA54F), to(#FFA54F));
	background: -moz-linear-gradient(top,  #FFA54F,  #FFA54F);
}
.grid th.asc{
    background:url(../images/0.gif) right no-repeat; cursor:pointer;
}
.grid th.desc{
    background:url(../images/1.gif) right no-repeat; cursor:pointer;
}

.grid .index.asc{
    background:url(../images/0.gif) right no-repeat; cursor:pointer;
    background-color: #6CA6CD;
}
.grid .index.desc{
    background:url(../images/1.gif) right no-repeat; cursor:pointer;
    background-color: #6CA6CD;
}

#menu  {font-size: 15px;
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.61) 50%, rgba(209,209,209,0.6) 51%,
                 rgba(254,254,254,0.22) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)),
                 color-stop(50%,rgba(219,219,219,0.61)), color-stop(51%,rgba(209,209,209,0.6)), color-stop(100%,
                rgba(254,254,254,0.22))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,0.61) 50%,
                 rgba(209,209,209,0.6) 51%,rgba(254,254,254,0.22) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,0.61) 50%,rgba(209,209,209,0.6) 51%,
                rgba(254,254,254,0.22) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,0.61) 50%,rgba(209,209,209,0.6) 51%,
                rgba(254,254,254,0.22) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,0.61) 50%,rgba(209,209,209,0.6) 51%,
                rgba(254,254,254,0.22) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#38fefefe',GradientType=0);
    height:50px;
    line-height:30px;
    color:#9b9b9b;
    border:solid 1px #cacaca;
    width:100%;
    overflow:hidden;
    margin:0px 0px 40px 0px;
    padding:0px;
}

#menu li {
    list-style-type:none;
    float:left;
    padding-left:10px;
    tex-align:center;
    line-height:50px;
}

#menu a {height:50px;
    display:block;
    background-image:url('../images/bc_separator.png');
    background-repeat:no-repeat;
    background-position:right;
    padding-right: 15px;
    text-decoration: none;
    color:#454545;
}

.home {border:none;
    margin: 8px 0px;
}

#menu a:hover, a:active {
    color: black;
    font-weight:bold;
    text-decoration:none;
    cursor:pointer;
}
#menu .active{
    color: black;
    font-weight:bold;

    text-decoration:none;
}

#products_table{
    margin:0px auto;
    border: solid #ccc 1px;
    background:#f5f5f7;
    box-shadow: 0 1px 1px #ccc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.ProductTitle{
    font-weight:bold;
    font-size:15px;
    color:#606060;
    width:100%;
    margin-left:10px;
}

#products_block{
    width:90%;
    margin:0px auto;
    padding:0px;
    border:0px solid grey;
}

#order_block{
    width:90%;
    margin:0px auto;
    padding:0px;
    border:0px solid grey;
}

#products_filter{
    width:80%;
    margin:0px auto 10px auto;
    padding:0px;
    border:0px solid grey;
}



.product_filter_in{
    width:100%;
    margin-top:10px;
}

.field{
    clear:both;
    text-align:right;
    width:400px;
    padding:5px;
    font-size:100%
}

.field label{
    float:left;
    margin-left:10px;
}

.order_top_input{
    text-align:right;
    padding:5px;
}



.current_order{
    width:162px;
}

.create_product{
    width:182px;
}

form{
    width:980px;
    margin:auto auto 10px auto;
    border:1px solid #000;


}

.top_bottom_line{
    height:25px;
    width:100%;
    background-color: #3B5998;
    margin-bottom: 10px;
    border:1px solid #000;

}
.form_block{
    width:600px;
    min-height:50px;
    margin:5px auto;
}
.info{
    margin-left:10px;
    font-weight: bolder;
    font-size:100%;
    color:#FFFFFF;
    display: block;
    height: 20px;
    width:200px;
    padding-top:5px;
}

label{
    cursor:pointer;
    display:block;
}

.comments_area {
    width:150px;
    border:2px solid #999;
    padding:5px;
    border-radius:4px;
}



#controls {width:980px; margin:0 auto; height:20px}
#perpage {float:left; width:200px}
#perpage select {float:left; font-size:11px}
#perpage span {float:left; margin:2px 0 0 5px}
#navigation {float:left; width:580px; text-align:center}
#navigation img {cursor:pointer}
#text {float:left; width:200px; text-align:right; margin-top:2px}


/*  Validation and refresh style for create_user page*/
.errorList
{
    color:red;
    border: 2px solid red;
    width: 205px;
    height: 28px;

}
.errorList2
{
    color:red;}

#hover{
    display:none;
    position:absolute ;
    width:100% ;
    height:100%;
    background:RGBA(0,255,255,0.0);
    top:0;
    left:0;
    z-index:998;
}

#popub{
    display:none;
    background:#EBEBEB ;
    position:absolute;
    width: 300px;
    height: 200px;
    z-index:999;
    top:50%;
    left:50%;
    margin-left:-150px;
    margin-top:-100px;
}

#refresh{
    position:absolute;
    width: 200px;
    height: 100px;
    top:50%;
    left:50%;
    margin-left:-100px;
    margin-top:-50px;
}
.by_form{
    width:180px;
    padding:10px;
    margin:auto;
}

.error_div{
    color:#b81900;
    text-align:center;
    font-size:13px;
    margin:15px;
    background-color: rgba(168,0,0,0.1);
}

.order_block{
    width: 465px;
    float:left;
    border: solid #ccc 1px;
    background:#f5f5f7;
    box-shadow: 0 1px 1px #ccc;
    margin:10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.edit_block{
    width: 500px;
    background: #EDEDED;
    border:2px solid #707070 ;
    margin:auto;
}

.red_star{
    color: red;
    font-weight: bold;
}

.empty_order{
    color:red;
    margin: 0px auto;
    width: 400px;
    height: 300px;
    line-height:300px;
    background-image:url(../images/fbg.png);
}

.input_read   {
    border:none;
    background-color: rgba(255, 0, 0, 0);
}


/*styles for order_details.html*/
div.details_block{
    margin:0 15% 0 15%;
    width:70%;
    background-color: #f5f5f5;
}

div.first_details_block {
    margin-left:30px;
    float:left;
    width:auto;
}

div.second_details_block {
    float:left;
    width:auto;
    margin-left: 20px
}

div.third_details_block {
    float:left;
    width:auto;
    margin-left: 180px
}

div.order_wrapper, div.order_wrapper_block{
    width: 980px; margin: auto;
}

div #button {
    clear: both;

}

th{
    cursor:pointer;
}

div p{
    margin:8px auto;
}
.table{
    margin-top: 0px; margin-bottom: 0px;

}
.quantity{
    margin-right: 40px; width: 60px; margin-bottom: -15px;
}
.update_amount{
    margin-right: -30px; margin-left: 30px; margin-top: -18px;
}
.deteils{
    flout:right;
}
/*End of styles for order_details.html*/