{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
    function confirmDelete() {
        if (confirm("All fields will be cleared. Do you want to continue?")) {
        return true;
        } else {
        return false;
    }};
    $.ajax({
            dataType: "json",
            url: '/api/dimension',
            type: 'GET',
            contentType: "application/json",
            success:function(json) {
                $.each(json.dimensions, function(i, pr){
                    $('#dimension').append('<option value="' + pr.name + '">' + pr.name + '</option>');
                })
            }
        });
</script>

<style type="text/css">
    div { clear:both;position:relative; }
</style>

    <form id="info"  name="form"  class = "form" method ="POST"  >
        <div style = "height: 10px;"></div>
    <h1>Create Product</h1>
		 <div class ="product_name"> <div id="product_name-wrap" class="slider">
	           <label for="product_name">Name*</label>

              <input id="product_name" name="product_name" type="text" value=""maxlength="100">
       </div>
       </div>
           <div style = "height: 10px;"></div>

              <div class = "error_user_name"></div>


    <div id="description-wrap"  class="slider">
        <label for="description">Description</label>
        <textarea type="text" rows="6" cols="36" name="description" id="description"></textarea>
    </div>

		 <div class ="price"> <div id="price-wrap" class="slider">
	           <label for="price">Price*</label>

              <input id="price" name="price" type="text" value=""maxlength="100">
       </div>
       </div>
           <div style = "height: 10px;"></div>

              <div class = "error_user_name"></div>

    <h2>Dimension*</h2>

    <select id="dimension" name="dimension">
    <option>-Select Value-</option>
    </select>

    <input type="reset"  onclick="return confirmDelete()"  value="Refresh">
    <input type="button" name="cancel" value="Cancel">
    <input type="button" value ="Create" class="button" onclick="return validate_form2()" id ="post_form">
    <script type="text/javascript">
         function confirmDelete() {
    if (confirm("All fields will be cleared. Do you want to continue?")) {
        return true;
    } else {
        return false;
    }};
    </script>
    </form>

{% endblock body  %}
