{% extends "layout.html" %}
{% block body %}
<style type="text/css">
div { clear:both;position:relative; }
</style>
<form id="info"  name="form"  class = "form" method ="POST"  >
        <div style = "height: 15px;"></div>
    <table>
        <tr>

	   <td>
		 <div class ="user_name"> <div id="name-wrap" class="slider">
	           <label for="name">User_name</label>

              <input id="login" name="login" type="text" value=""maxlength="50">
       </div>
       </div>
           <div style = "height: 10px;"></div>
       </td>

        </tr>
        <tr>
              <div class = "error_user_name"></div>
        </tr>
               <!--user name-->
        <tr>
            <td>
                <div class ="first_name">
		            <div id="first_name-wrap" class="slider">
               <label for="first_name"> First_name</label>

                  <input id="first_name" name="first_name" type="text" value="" maxlength="50">
                    </div>
             </div>
                <div style = "height: 10px;"></div>
            </td>

        </tr>
        <tr>
              <div class = "error_first_name"></div>
         </tr>
                <!--user last name-->
        <tr>
            <td>
                <div class ="last_name">
		            <div id="last_name-wrap" class="slider">
                <label for="last_name"> Last_name</label>
                <input id="last_name" name="last_name" type="text" value="" maxlength="50">
                    </div>
                </div>
                <div style = "height: 10px;"></div>
            </td>

        </tr>
        <tr>
              <div class = "error_last_name"></div>
        </tr>
                <!--user password -->
        <tr>
            <td>
                 <div class ="password">
                    <div id="password-wrap" class="slider">
                 <label for="password">Password</label>

                  <input id="password" name="password" type="password" value="" maxlength="20">
                    </div>
                </div>
                <div style = "height: 10px;"></div>
            </td>

        </tr>
        <tr>
              <div class = "error_password"></div>
        </tr>
                <!--confirm-->
        <tr>
            <td>
                <div class ="confirm">
                     <div id="confirm-wrap" class="slider">
         <label for="confirm">Confirm Password</label>

                <input id="confirm" name="confirm" type="password" value="" maxlength="20">
                     </div>
                </div>
                <div style = "height: 10px;"></div>
            </td>

        </tr>
        <tr>
              <div class = "error_confirm"></div>
        </tr>
                <!--email-->
        <tr>
            <td>
                <div class ="email">
                    <div id="email-wrap" class="slider">
                <label for="email">Email</label>

                <input id="email" name="email" type="text" value="" maxlength="100">
                    </div>
                </div>
                <div style = "height: 10px;"></div>
            </td>

        </tr>
        <tr>
              <div class = "error_email"></div>
        </tr>
                <!--Select Region-->
        <tr>
            <td>
                <label for="region">Region</label>

                 <div class ="region">


                     <select id="region" name="regions_id" type ="checkbox">
                     <option value ="" > Select from the list</option>

                 </select>
                 </div>
                <div style = "height: 10px;"></div>
            </td>

        </tr>
        <tr><div class = "error_region"> </div>
   </table>
                <!--Choice of a role-->
    <div style ="width: 500px " >
    <fieldset>
            <legend >Role</legend>
    <div class ="role" style ="width: 200px ">
      <table>
          <tr>
              <td>
             <input id="role-1" name="role_id" type="radio" value="Administrator"> <label for="role-1">Administrator</label>
              </td>
          </tr>
          <tr>
               <td>
                <input id="role-3" name="role_id" type="radio" value="Merchandizer"> <label for="role-3">Merchandizer</label>
               <td>
          </tr>
          <tr>
              <td>
               <input id="role-2" name="role_id" type="radio" value="Supervizor"> <label for="role-2">Supervizor</label>
              </td>
          </tr>
          <tr>
              <td>
               <input id="role-0" name="role_id" type="radio" value="Customer" checked="checked"> <label for="role-0">Customer</label>
              </td>
          </tr>



      </table>

    </div>

     </fieldset>
     </div>
    <div style = "height: 10px;"></div>


                <!--Creating ButtonsС-->
        <tr>
            <td><input type="button" value ="Create" class="button" onclick="return validate_form ( );" id ="post_form"   /></td>
            <td><input type="button" value ="Cancel"     /></td>
            <td><input  type ="button" value ="Refresh"   id ="warning"  /></td>
        </tr>






</form>


<div id ="popub">
                 <div id ="refresh"   >
                     <p style ="text-align: center;" > 'All fields will be cleared. Do you want to continue?'</p>
                 <p style = "text-align:center;">
                     <input  type ="button"  value = "    Yes   "   />
                     <input  type ="submit"  value = "Cancel"  id ="close"/>
                 </div>
                  </p>
</div>

<div id ="hover"></div>


    <script type ="text/javascript">
$(document).ready(function(){
$('#warning').click(function(){
  $('#popub').show(200);
  $('#hover').show(200);
                     });

$('#close').click(function (){
  $('#popub').hide();
  $('#hover').hide();
       return false;
});

  $('#refresh').click(function (){
  $('#popub').hide();
  $('#hover').hide();
  $(':input','.form')
 .not(':button, :submit, :reset, :hidden')
 .val('')
 /*.removeAttr('checked')
 .removeAttr('selected');*/

       return false;
});







});


    </script>


<script>



$( document ).ready(function() {
$.ajax({
       dataType: "json",
        url: '/api/regions',
        type: 'GET',

        contentType: "application/json",
        success: function(data){
        var regions_status = document.form.regions_id;
        var region_length = data.regions.length;
        var regions_data = data.regions;
        var opt = 0;
        for (var i = 0; i < region_length; i++){
        opt = new Option( regions_data[i].name, regions_data[i].region_id );



          regions_status.options.add( opt, i );
                                      }



                                }


                    });

                                        });

        </script>

<script>
    $( document ).ready(function() {
$.ajax({
       dataType: "json",
        url: '/api/roles',
        type: 'GET',

        contentType: "application/json",
        success: function(data){
              var roles_length = data.roles.length;
             var roles_data = data.roles;
            var foo = document.getElementById("mydiv");
        for(var i=0;i< roles_length;i++){
            var label = document.createElement("label");
            var element = document.createElement("input");
            element.setAttribute("type", "radio");
            element.setAttribute("value", roles_data[i].role_id);
            element.setAttribute("name", "gr");
            element.setAttribute("id", roles_data[i].name.value);
            if (i==0)
              element.setAttribute("checked", true);
            label.appendChild(element);
            label.innerHTML += roles_data[i].name;
            label.innerHTML += '<br />';
            foo.appendChild(label);
        }
                                      }






                    });

                                        });

        </script>

{% endblock body  %}