{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
    function confirmDelete() {
        if (confirm("All fields will be cleared. Do you want to continue?")) {
        return true;
        } else {
        return false;
    }};
    $.ajax({
            dataType: "json",
            url: '/api/dimension',
            type: 'GET',
            contentType: "application/json",
            success:function(json) {
                $.each(json.dimensions, function(i, pr){
                    $('#id').append('<option value="' + pr.id + '">' + pr.name + '</option>');
                })
            }
        });
</script>

<style type="text/css">
    div { clear:both;position:relative; }
</style>

    <form id="info"  name="form"  class = "form" method ="POST"  >
        <div style = "height: 10px;"></div>
    <h1 class="ProductTitle" >Create Product</h1>
		 <div class ="product_name"> <div id="product_name-wrap">
	           <label for="product_name">Name*</label>
               <input cols="6" id="product_name" name="product_name" type="text" value=""maxlength="100">
               <div style = "height: 10px; width: 30px;"></div>
               <div class = "error_product_name"></div>
         </div>
         </div>

        <div id="description-wrap">
        <label for="description">Description</label>
        <textarea type="text" rows="6" cols="27" name="description" id="description"></textarea>
        </div></br>

		 <div class ="price"> <div id="price-wrap">
	           <label for="price">Price*</label>
               <input id="price" name="price" type="text" value=""maxlength="100">
               <div style = "height: 10px;"></div>
               <div class = "error_price"></div>
         </div>
         </div>


    <h3 class="ProductTitle" >Dimension*</h3>
        <div class ="id"> <div id="id-wrap">
        <select class="id" id="id" name="id">
        <option value="">Select</option>
        <div style = "height: 10px;"></div>
        <div class = "error_id"> </div>
        </select></div></div>
            </br></br></br></br></br>

    <input type="reset"  onclick="return confirmDelete()"  value="Refresh">
    <input type="button" name="cancel" value="Cancel">
    <input type="button" value ="Create" class="button" onclick="return validate_form2()" id ="post_form">

    </form>

{% endblock body  %}
