{% extends "layout.html" %}
{% block body %}
    <link href="{{url_for('static', filename='styles/bootstrap.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='styles/bootstrap-responsive.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='styles/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='styles/bootstrap-responsive.min.css')}}" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    function confirmDelete() {
        if (confirm("All fields will be cleared. Do you want to continue?")) {
        return true;
        } else {
        return false;
    }};
</script>

<style type="text/css">
    div { clear:both;position:relative; }
</style>

    <form id="info"  name="form"  class = "form" method ="POST"  >
        <div style = "height: 10px;"></div>
    <h2>Create Product</h2>
		 <div class ="product_name"> <div id="product_name-wrap">
	           <label for="product_name">Name*</label>
               <input id="product_name" name="name" type="text">
               <div style = "height: 10px; width: 30px;"></div>
               <div class = "error_product_name"></div>
         </div>
         </div>

        <div class ="price"> <div id="price-wrap">
	           <label for="price">Price*</label>
               <input id="price" name="price" type="text">
               <div style = "height: 10px;"></div>
               <div class = "error_price"></div>
         </div>
         </div>



        <div id="description-wrap">
        <label for="description">Description</label>
        <textarea type="text" rows="3" name="description" id="description"></textarea>
        </div></br>




            </br></br></br></br></br>

    <input type="reset"  onclick="return confirmDelete()"  value="Refresh">
    <input type="button" name="cancel" value="Cancel" onclick="location='http://127.0.0.1:5000/product_grid'" />
    <input type="button" value ="Create" class="button" onclick="return validate_form2()" id ="post_form">

    </form>

{% endblock body  %}
