{% extends "layout.html" %}
{% block body %}
    <link href="{{url_for('static', filename='styles/bootstrap.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='styles/bootstrap-responsive.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='styles/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='styles/bootstrap-responsive.min.css')}}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='js/order_product_function.js') }}"></script>




<script>
        var tr = [];

            $(document).ready (function() {
            var count_tr=$('#table_size').val();
            var count_td=6;
            var page = 1;
            var table_grid = document.getElementById('grid');

            function creat_grid(count)
                {
                    for (var i=1; i<=count;i++ )
                        {
                            tr[i] = document.createElement('TR');
                            table_grid.appendChild(tr[i]);
                            tr[i].id=i;
                            if (i % 2 == 0) tr[i].style.background = "#efddba";
                            for (var j=0; j<=5; j++)
                                {
                                    tr[i].appendChild(document.createElement('TD'));
                                }
                        }

                }

            function deleting_grid()
                {
                    for (var n=table_grid.rows.length ; n>=2; n--)
                        {
                            table_grid.removeChild(table_grid.childNodes[n]);
                        }

                }


            $('#search_button').click(function(){
                grid_pagination()
            });


            function ajax_success(json){
                deleting_grid();
                creat_grid(json.orders.length);
                /*Create table */
                for (var order_k in json.orders)
                    {
                        k++;
                        tr[k].cells[0].innerHTML = json.orders[order_k].id;
                        tr[k].cells[1].innerHTML = json.orders[order_k].user_id;
                        tr[k].cells[2].innerHTML = json.orders[order_k].status_id;
                        tr[k].cells[3].innerHTML = json.orders[order_k].total_price;
                        tr[k].cells[4].innerHTML = json.orders[order_k].assignee_id;
                        tr[k].cells[5].innerHTML = "<input type='button' value='Edit' id='edit_order'  alt=" + k + ">";
                        tr[k].cells[5].abbr=k;
                        tr[k].cells[5].onclick = function edit_order(){
                                        var id_tr = tr[this.abbr].cells[0].innerHTML
                                        document.getElementById('order_status').value=json.orders[id_tr-1].status_id;
                                        document.getElementById('order_delivery').value=json.orders[id_tr-1].delivery_id;
                                        document.getElementById('order_delivery_address').value=json.orders[id_tr-1].delivery_address;
                                        document.getElementById('order_comment').value=json.orders[id_tr-1].comment;
                                        index=id_tr
                                        document.getElementById('edit').style.display='inline'
                                        confirm('Edit order #'+ id_tr +' ?')
                                        var d = document;
                                        var a = d.getElementById('div_form').style.display;
                                        d.getElementById('div_form').style.display = (a == 'none')?'block':'none';
                                        var a = d.getElementById('div_table').style.display;
                                        d.getElementById('div_table').style.display = (a == 'none')?'block':'none';

                        }
                    }
            k=0;
            }


            var k=0;


               $('#edit').click(function(){
                var id = index;
                var status_id = document.getElementById('order_status').value;
                var delivery_id = document.getElementById('order_delivery').value;
                var delivery_address = document.getElementById('order_delivery_address').value;
                var comment = document.getElementById('order_comment').value;
                updateOrder(id,status_id, delivery_id, delivery_address, comment);
            });

            function updateOrder(id, status_id, delivery_id, delivery_address, comment) {
                data = {"id": id,'status_id': status_id, "delivery_id": delivery_id, "delivery_address":delivery_address, "comment": comment};
                $.ajax({
                dataType: "json",
                url: '/api/orders',
                type: 'PUT',
                data: JSON.stringify(data),
                contentType: "application/json",
                success:function(json){
                    if (json.message == 'success')
                        {
                            alert('The product has been successfully updated');
                        }
                    else{
                        alert (json.message);
                        }
                     }
                });
                    grid_pagination();
                    document.getElementById('form1').reset();
            }



            function grid_pagination(){
                var status_id = document.getElementById('status_id').value
                var assignee_id = document.getElementById('assignee_id').value
                $.ajax({
                dataType: "json",
                url: '/api/order?page='+page+'&table_size='+count_tr+'&status_id='+status_id+'&assignee_id='+assignee_id+'',
                type: 'GET',
                contentType: "application/json",
                success: function(json)
                    {
                        ajax_success(json);
                        records_amount=(json.records_amount);
                        records_per_page=(json.records_per_page);
                        pages_amount = Math.ceil(records_amount/records_per_page);
                        document.getElementById("page").innerHTML = page;
                        document.getElementById("pages_amount").innerHTML = pages_amount

                        if (page==1){
                            $('#prev').css({ "opacity":"0.4"});
                            $('#first').css({ "opacity":"0.4"});
                        } else {$('#prev').css({ "opacity": "1"});
                            $('#first').css({ "opacity": "1"});
                        }

                        if (page==pages_amount){
                            $('#next').css({ "opacity": "0.4"});
                            $('#last').css({ "opacity": "0.4"});
                        } else {$('#next').css({ "opacity": "1"});
                            $('#last').css({ "opacity": "1"});
                        }
                    }
                })
            }

            if (page==1)
  {
  grid_pagination();
  }

  /*Pagination buttons events*/
   $('#next').click(function(){
     if (page*records_per_page>=records_amount){page=page}
     else {page=page+1}
     grid_pagination()
    });

    $('#prev').click(function(){
     page=page-1;
        if (page<=1){
        page=1;
        }
     grid_pagination()
    });

    $('#first').click(function(){
     page=1;
     grid_pagination()
    });

    $('#last').click(function(){
     page=pages_amount;
     grid_pagination()
    });
    /*--------------------------*/

  /*Change table size select event*/
    $('#table_size').change(function () {
      page=1;
      count_tr=$('#table_size').val();
      $( "#table_siz option:selected" ).each(grid_pagination())
     })


    $.ajax({
            dataType: "json",
            url: '/api/status',
            type: 'GET',
            contentType: "application/json",
            success:function(json) {
                $.each(json.status, function(i, pr){
                    $('#status_id').append('<option value="' + pr.id + '">' + pr.name + '</option>');
                })
            }
    });

        $.ajax({
            dataType: "json",
            url: '/api/assignee',
            type: 'GET',
            contentType: "application/json",
            success:function(json) {
                $.each(json.assignee, function(i, pr){
                    $('#assignee_id').append('<option value="' + pr.id + '">' + pr.assignee_id + '</option>');
                })
            }
    });


    $.ajax({
            dataType: "json",
            url: '/api/stat',
            type: 'GET',
            contentType: "application/json",
            success:function(json) {
                $.each(json.status, function(i, pr){
                    $('#order_status').append('<option value="' + pr.id + '">' + pr.name + '</option>');
                })
            }
    });

     $.ajax({
            dataType: "json",
            url: '/api/delivery',
            type: 'GET',
            contentType: "application/json",
            success:function(json) {
                $.each(json.delivery, function(k, j){
                    $('#order_delivery').append('<option value="' + j.id + '">' + j.name + '</option>');
                })
            }
     })
     });

</script>
<div id="div_table" style="display:true" >
                        <form style="align: center" class="form">
                        <h2>Filter</h2>
                        <fieldset>
                        <label for="status_id">Status</label>
                        <select id="status_id" multiple="multiple">
                        <option value="">Select status</option>
                        </select>

                        <label for="order_delivery">Delivery type</label>
                        <select id="assignee_id" multiple="multiple">
                        <option value="">Select delivery type</option>
                        </select></fieldset>
                        <fieldset><span><input type="button"  value="Search" id='search_button'></span></fieldset>
                        </form>



            <div class="field" style="margin-left:5%;">
                  <lable>Table size: </lable>
                  <select id="table_size" class="span1">
                    <option selected>5</option>
                    <option>25</option>
                   </select>
            </div>
            <div style="margin-left:80%;">
            </div>
            <div id=" ">

                <table id='grid' class="grid">
                    <tr>
                        <th>
                            Order_id
                        </th>
                        <th>
                            Customer
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Amount ($)
                        </th>
                        <th>
                            Assignee
                        </th>
                        <th>
                            Edit
                        </th>
                    </tr>
                </table>

            <div id="pagination" style="text-align: center">
              <span id="first_span">
              <input type="button" id="first" value="First">&nbsp
              <input type="button" id="prev" value="Prev">&nbsp
              </span>

              <input type="button" id="next" value="Next">&nbsp
              <input type="button" id="last" value="Last">
              <div style="font-size:14px; color:#606860;">Page <span id="page"></span> of <span id="pages_amount"></span></div>

          </div></div></div>

<script type="text/javascript">
function show_form()
{var d = document;
var a = d.getElementById('div_form').style.display;
d.getElementById('div_form').style.display = (a == 'none')?'block':'none';
var a = d.getElementById('div_table').style.display;
d.getElementById('div_table').style.display = (a == 'none')?'block':'none';}


</script>

<div id="div_form" style="display:none" >
    <form id="form1">
        <fieldset>
                <h2>Edit current page</h2>
                <label for="order_status">Status</label>
                <select class="current_order" id="order_status" class="span3">
                </select>


                <label for="order_delivery">Delivery type</label>
                <select class="current_order" id="order_delivery" class="span3">
                <option value="">Select delivery type</option>
                </select></fieldset>


                <label for="order_delivery_address">Delivery address</label>
                <input class="input-large" id="order_delivery_address" name="order_delivery_address" size="25" type="text" />
        </fieldset>
        <fieldset>
        <label for="order_comment">Comment:</label>
		  <textarea id="order_comment"  rows="3" name="order_comment"></textarea></fieldset>

       <input type="button" value="Update"  id="edit" onclick="show_form(); return false">
        </form></div>







{% endblock body %}


