{% extends "layout.html" %}
{% block body %}

        <script type="text/javascript">

            var tr = [];

            $(document).ready (function() {
            var count_tr=$('#table_size').val();
            var count_td=6;
            var page = 1;
            var table_grid = document.getElementById('grid');

            function creat_grid(count)
                {
                    for (var i=1; i<=count;i++ )
                        {
                            tr[i] = document.createElement('TR');
                            table_grid.appendChild(tr[i]);
                            tr[i].id=i;
                            if (i % 2 == 0) tr[i].style.background = "#c0c0c0";
                            for (var j=0; j<=5; j++)
                                {
                                    tr[i].appendChild(document.createElement('TD'));
                                }
                        }
                    $( "tr:even" ).css( "background-color", "#c0c0c0" );
                }

            function deleting_grid()
                {
                    for (var n=table_grid.rows.length ; n>=2; n--)
                        {
                            table_grid.removeChild(table_grid.childNodes[n]);
                        }

                }

            $('#search_button').click(function(){
                grid_pagination()
            });


            function ajax_success(json){
                deleting_grid();
                creat_grid(json.orders.length);
                /*Create table */
                for (var order_k in json.orders)
                    {
                        k++;
                        tr[k].cells[0].innerHTML = json.orders[order_k].id;
                        tr[k].cells[1].innerHTML = json.orders[order_k].user_id;
                        tr[k].cells[2].innerHTML = json.orders[order_k].status_id;
                        tr[k].cells[3].innerHTML = json.orders[order_k].total_price;
                        tr[k].cells[4].innerHTML = json.orders[order_k].assignee_id;
                        tr[k].cells[5].innerHTML = "<input type='button' value='Edit' id='edit_region'  alt=" + k + ">";
                        tr[k].cells[5].abbr=k;
                                tr[k].cells[5].onclick = function edit_order(){
                                var str = tr[this.abbr].cells[2].innerHTML
                                var id_tr = tr[this.abbr].cells[0].innerHTML
                                document.getElementById('order_name').value=str
                                status=id_tr
                                document.getElementById('edit_button').style.display='inline'
                                }
                    }
                    k=0;
                    /*End creating table*/
            }

              var k=0;
            form_value = {id : $('#name_form').val(), name : $('#order_name').val()};
            json_value = JSON.stringify(form_value);

            $('#edit_button').click(function(){
            update();
             });








            function grid_pagination(){
                var status_id = document.getElementById('status_id').value
                var assignee_id = document.getElementById('assignee_id').value
                $.ajax({
                dataType: "json",
                url: '/api/order?page='+page+'&table_size='+count_tr+'&status_id='+status_id+'&assignee_id='+assignee_id+'',
                type: 'GET',
                contentType: "application/json",
                success: function(json)
                    {
                        ajax_success(json);
                        records_amount=(json.records_amount);
                        records_per_page=(json.records_per_page);
                        pages_amount = Math.ceil(records_amount/records_per_page);
                        document.getElementById("page").innerHTML = page;
                        document.getElementById("pages_amount").innerHTML = pages_amount

                        if (page==1){
                            $('#prev').css({ "opacity":"0.4"});
                            $('#first').css({ "opacity":"0.4"});
                        } else {$('#prev').css({ "opacity": "1"});
                            $('#first').css({ "opacity": "1"});
                        }

                        if (page==pages_amount){
                            $('#next').css({ "opacity": "0.4"});
                            $('#last').css({ "opacity": "0.4"});
                        } else {$('#next').css({ "opacity": "1"});
                            $('#last').css({ "opacity": "1"});
                        }
                    }
                })
            }

            if (page==1){
                grid_pagination();
            }

            $('#next').click(function(){
            if (page*records_per_page>=records_amount){page=page}
            else {page=page+1}
            grid_pagination()
            });

            $('#prev').click(function(){
            page=page-1;
            if (page<=1){
            page=1;
            }
            grid_pagination()
            });

            $('#first').click(function(){
            page=1;
            grid_pagination()
            });

            $('#last').click(function(){
            page=pages_amount;
            grid_pagination()
            });

            $('#table_size').change(function () {
            count_tr=$('#table_size').val();
            $( "#table_size option:selected" ).each(grid_pagination)
            });

            });

    $.ajax({
            dataType: "json",
            url: '/api/status',
            type: 'GET',
            contentType: "application/json",
            success:function(json) {
                $.each(json.status, function(i, pr){
                    $('#status_id').append('<option value="' + pr.id + '">' + pr.name + '</option>');
                })
            }
    });

        $.ajax({
            dataType: "json",
            url: '/api/assignee',
            type: 'GET',
            contentType: "application/json",
            success:function(json) {
                $.each(json.assignee, function(i, pr){
                    $('#assignee_id').append('<option value="' + pr.id + '">' + pr.assignee_id + '</option>');
                })
            }
    });


    $.ajax({
            dataType: "json",
            url: '/api/status',
            type: 'GET',
            contentType: "application/json",
            success:function(json) {
                $.each(json.status, function(i, pr){
                    $('#status').append('<option value="' + pr.id + '">' + pr.name + '</option>');
                })
            }
    });

     $.ajax({
            dataType: "json",
            url: '/api/delivery',
            type: 'GET',
            contentType: "application/json",
            success:function(json) {
                $.each(json.delivery, function(k, j){
                    $('#delivery').append('<option value="' + j.id + '">' + j.name + '</option>');
                })
            }
     });

</script>


        <div class="">
            <div class="">
                <div class=" ">
                    <form class="form" action=" " >
                        <h2 class="ProductTitle" >Status</h2>
                        <select class="current_order" id="status_id" name="status">
                        <option value="">Select status</option>
                        </select>

                        <h2 class="ProductTitle" >Assignee</h2>

                        <select class="current_order" id="assignee_id" name="delivery">
                        <option value="">Select assignee</option>
                        </select></br></br>
                        <span><input type="button" value="search" id='search_button'></span>
                    </form>
                </div>
            </div>

            <div class="field" style="margin-left:5%;">
                  <lable>Table size: </lable>
                  <select id="table_size">
                    <option selected>5</option>
                    <option>25</option>
                   </select>
            </div>
            <div style="margin-left:80%;">
            </div>
            <div id=" ">
                <table id='grid' class="grid">
                    <tr>
                        <th>
                            Order_id
                        </th>
                        <th>
                            Customer
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Assignee
                        </th>
                        <th>
                            Edit
                        </th>
                    </tr>
                </table>


            <div id="pagination" style="text-align: center">
                <input type="button" id="first" value="First">&nbsp
                <input type="button" id="prev" value="Prev">&nbsp

                <input type="button" id="next" value="Next">&nbsp
                <input type="button" id="last" value="Last">
                <div style="font-size:14px; color:#606860;">Page <span id="page"></span> of <span id="pages_amount"></span></div>
            </div></div></div>
<style type="text/css">
    div { clear:both;position:relative; }
</style>

    <form id="info" name="form" class = "form" method ="POST" >
         <h2 class="ProductTitle" >Status</h2>
         <select class="current_order" id="status" name="status">
         <option value="">Select status</option>
         </select>

         <h2 class="ProductTitle" >Delivery type</h2>

         <select class="current_order" id="delivery" name="delivery">
         <option value="">Select delivery type</option>
         </select></br></br>


         <div class ="delivery_address">
         <label for="delivery_address">Delivery Address</label>
               <input id="delivery_address" name="delivery_address" type="text" value="" >
         </div>
         </div></br>

                 <div class ="comments">
         <label for="comments">Comments</label>
               <textarea class="comments_area" id="comments" name="comments" type="text" value="" ></textarea>
         </div>
         </div>


    </br></br>

         <input type="button" value ="Update" class="button">

    </form>

{% endblock body %}


