{% extends "layout.html" %}
{% block body %}
<style type="text/css">
div { clear:both;position:relative; }
</style>

<form id="info"  name="form"  class = "form" method ="POST"  >
          <div class="top_bottom_line">
                  <span class='info'>Update user</span>
         </div>
        <div style = "height: 15px;"></div>
    <div class="form_block">

                <!--Login-->

	           <label for="login">Login:</label>
        <div class ="login">
              <input id="login" name="login" type="text" value=""maxlength="50">


        <div class = "error_login"></div>

       </div>
           <div style = "height: 10px;"></div>

               <!--user name-->

               <label for="first_name"> First Name:</label>
             <div class ="first_name">
                  <input id="first_name" name="first_name" type="text" value="" maxlength="50">

            <div class = "error_first_name"></div>

             </div>
                <div style = "height: 10px;"></div>

                <!--user last name-->

                <label for="last_name"> Last Name:</label>
                <div class ="last_name">
                <input id="last_name" name="last_name" type="text" value="" maxlength="50">

                </div>
                <div style = "height: 10px;"></div>

            <div class = "error_last_name"></div>

                <!--user password -->

                 <label for="password">Password:</label>
                <div class ="password">
                  <input id="password" name="password" type="password" value="" maxlength="10">

                </div>
                <div style = "height: 10px;"></div>

          <div class = "error_password"></div>

                <!--confirm-->

                 <label for="confirm">Confirm Password:</label>
                <div class ="confirm">
                <input id="confirm" name="confirm" type="password" value="" maxlength="10">

                </div>
                <div style = "height: 10px;"></div>

                <div class = "error_confirm"></div>

                <!--email-->

                <label for="email">Email:</label>
                <div class ="email">
                <input id="email" name="email" type="text" value="" maxlength="100">

                </div>
                <div style = "height: 10px;"></div>

            <div class = "error_email"></div>

                <!--Select Region-->

                <label for="region">Region</label>

                 <div class ="region">


                     <select id="region" name="regions_id" class ="current_order">

                        <div ></div>
                 </select>
                 </div>
                <div style = "height: 10px;"></div>

            <div class = "error_region"> </div>

                <!--Choice of a role-->
    <div style ="width: 500px " >
    <fieldset>
            <legend >Role</legend>
    <div class ="role" style ="width: 200px ">
      <div id="roles"></div>

    </div>

     </fieldset>
     </div>
    <div style = "height: 10px;"></div>


                <!--Creating ButtonsС-->

            <input type="button" value ="Update" class="button" onclick=" return validate_form_and_edit_user()"   />
            <input type="button" value ="Cancel" onclick="location='../search_user'"    />
            <input  type ="button" value ="Refresh"   id ="warning"  />







</form>


<div id ="popub">
                 <div id ="refresh"   >
                     <p style ="text-align: center;" > All fields will be cleared. Do you want to continue?</p>
                 <p style = "text-align:center;">

                     <input  type ="button"  onclick="return data()" value = "    Yes   "   />

                 <input  type ="submit"  value = "Cancel"  id ="close"/>
                 </div>
                  </p>
</div>

<div id ="hover"></div>
<div id="greq"></div>

    <script type ="text/javascript">
$(document).ready(function()
    {
        $('#warning').click(function()
                            {
                                 $('#popub').show(200);
                                 $('#hover').show(200);
                                 return false
                            })

        $('#close').click(function ()
                            {
                                 $('#popub').hide();
                                 $('#hover').hide();
                                 return false;
                            })

        $('#refresh').click(function ()
                            {
                                 $('#popub').hide();
                                 $('#hover').hide();
                                 $(':input','.form')
                                 .not(':button, :submit, :reset, :hidden')
                                 .val('')
                                  return false;
                            })


    });


    </script>


<script>



$( document ).ready(function()
{
    $.ajax({
                dataType: "json",
                url: '/api/regions',
                type: 'GET',
                contentType: "application/json",
                success: function(data)
                {
                        var regions_status = document.form.regions_id;
                        var region_length = data.regions.length;
                        var regions_data = data.regions;
                        var opt = 0;
                        for (var i = 0; i < region_length; i++)
                        {
                            opt = new Option( regions_data[i].name, regions_data[i].region_id );
                            regions_status.options.add( opt );
                        }

                }


            });


    var data_role;
   // Variable from url
   var get = window.location.pathname;
        if(get != '')
        {
	       var id = (get.substr(11));
            id.split('/');

        }
   $.ajax(
    {
        dataType: "json",
        url: '/api/users/'+id,
        type: 'GET',
        contentType: "application/json",
        success: function(data)
                    {

                       $('#login').val(data.users.login);
                       $('#first_name').val(data.users.first_name);
                       $('#last_name').val(data.users.last_name);
                       $('#email').val(data.users.email);
                       $('#region').val(data.users.region_id);
                       data_role = data.users.role_id;
                    }

    });



$.ajax(
{
    dataType: "json",
    url: '/api/roles',
    type: 'GET',
    contentType: "application/json",
    success: function(data)
       {
            var roles_length = data.roles.length;
            var roles_data = data.roles;
            var foo = document.getElementById("roles");
                for(var i=0;i< roles_length;i++)
                {
                    var label = document.createElement("label");
                        var element = document.createElement("input");
                            element.setAttribute("type", "radio");
                            element.setAttribute("value", roles_data[i].role_id);
                            element.setAttribute("name", "role");
                            element.setAttribute("id", roles_data[i].role_id);
                                var role_active  = roles_data[i].name;

                                    if (role_active == data_role)

                                     element.setAttribute("checked", true);
                    label.appendChild(element);
                    label.innerHTML += roles_data[i].name;
                    label.innerHTML += '<br />';
             foo.appendChild(label);
                }
       }
});

})




</script>
{% endblock body  %}