<link href="../static/styles/style1.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div id="wrapper">
<div id="header">

<ul id="nav">
        <li><a href="index.html" title="Users" class="active">Users</a></li>
        <li><a href="product.html" title="Product">Product</a></li>
        <li><a href="orders.html" title="Orders">Orders</a></li>
        <li><a href="table.html" title="Table">Table</a></li>
        <li><a href="login(2).html" title="Log in">Log in</a></li>
        <li><a href="exit.html" title="Exit">Exit</a></li>  
    </ul>

</div>

</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
<div id="footer">
	
</div>
<!-- end #footer-->

</div>
<!-- end #wrapper-->

</body>
</html>
