{% extends "layout.html" %}
{% block body %}
   <script type="text/javascript">

   var count_tr=9;
   var tr = [];



  $(document).ready(function() {
   var table_grid = document.getElementById('grid');
   function creat_grid(count){
     for (var i=1; i<=count;i++ ){
       tr[i] = document.createElement('TR');
       table_grid.appendChild(tr[i]);
       tr[i].id=i;
       if (i % 2 == 0) tr[i].style.background = "#c0c0c0";
         for (var j=0; j<=1; j++){
           tr[i].appendChild(document.createElement('TD'));}
       }
     }

    creat_grid(count_tr);
  /*End of creating table*/


  create_entity();

  function create_entity(){
       $.ajax({
        dataType: "json",
        url: '/api/regions',
        type: 'GET',
        //data: json_value,
        contentType: "application/json",
        success: function(json)
        {
            ajax_success(json);
         }
      })
  }
    $.ajax({
            dataType: "json",
            url: '/api/name',
            type: 'GET',
            contentType: "application/json",
            success:function(json) {
                $.each(json.name, function(i, pr){
                    $('#item_name').append('<option value="' + pr.id + '">' + pr.name + '</option>');
                })
            }
    });



  $('#add_button').click(function(){
  add();
    });
  $('#edit_button').click(function(){
  update();
    });
  $('#cansel').click(function(){
  cansel();
    });

  })


   </script>


<div class=" ">
   <form class='form' action="">
       <div class="ProductTitle">Search for item by:</div>
           <select id="item_name" multiple="multiple">
           <option value="">item_name</option>
           </select>
           <span><input type="text"  id = 'name' style="width:150px" /></span>
           <span><input type="button" value="search" id='search_button'></span>
   </form>
   </div>
</div>


<div id="item_table">
  <table id='grid' class="grid">
    <tr>
      <th>
        Item Name
      </th>
      <th>
        Item Description
      </th>
    </tr>
  </table>
</div>


<form action="" id="info">
<fieldset style="width: 600px; height: 200px">
    <div id="name-wrap">
    <label for="region_name">Name</label>
    <input type="text" id="region_name" name="name" >
    <p><input type="button" value="Remove" id="add_button"><input type="button" value="Done" id="edit_button"><input type="reset"  id="cancel"  value="Cancel"></p>
</fieldset>
</form>


{% endblock body %}