<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html">
    <meta charset="utf-8">
    <script src="{{ url_for('static', filename='js/jquery-1.5.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/myscripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/iphone-style-checkboxes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.3.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.7.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slidinglabels.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/style(main).css') }}">
    <!-- It's file is jQuery library -->
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <!--This file is used to validate and send ajax request for a page "user_create.html" -->
    <script type="text/javascript" src="/static/js/JQuery_validate_and_ajax_to_create_user.js"></script>
    <!--This file is used for warnings on the page "create_user" -->
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" type="text/css" />

    <title>SoftServe</title>


  </head>
  <body>
<div id="menu">

            <ul class="nav">
              <li id="li-TableProduct"><a href="/TableProduct">Products</a></li>
              <li id="li-CreateUser"><a href="/CreateUser">Create User</a></li>
              <li id="li-CreateProduct"><a href="/CreateProduct">Create Product</a></li>
            </ul>
</div>
{% block create_user  %}
{% endblock    %}


  </body>
</html>
