<!DOCTYPE html>
<html lang="en">
  <head>

    <meta http-equiv="content-type" content="text/html">
    <meta charset="utf-8">
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/myscripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/product.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.7.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>


<script src="{{ url_for('static', filename='js/current_orders.js') }}"></script>
    <!-- It's file is jQuery library -->
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <!--This file is used to validate and send ajax request for a page "user_create.html" -->
    <script type="text/javascript" src="/static/js/JQuery_validate_and_ajax_to_create_user.js"></script>
    <!--This file is used for warnings on the page "create_user" -->

    <link href="{{url_for('static', filename='js/datepicker/jquery.ui.all.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" type="text/css" />

    <title>SoftServe</title>


  </head>
  <body>



  {% block bar %}

{% if "Administrator"==session['role'] %}
 <ul id="menu">

      <li>
     <a href="/search_user" title="Search User"
         {% if request.environ.PATH_INFO.strip('/') =='search_user'%}class="active"{% endif %}>
     Users
     </a>
     </li>
     <li>
     <a href="/region" title="region"
         {% if request.environ.PATH_INFO.strip('/') =='region'%}class="active"{% endif %}>
     Regions
     </a>
     </li>

     <li style="float: right">

     <a  title="Log out" onclick="if(confirm('Are you sure you want to logout from the application?'))
        {href='/logout'}"

        {% if request.environ.PATH_INFO.strip('/') =='logout'%}class="active"{% endif %} >
        {% if session['login'] %}
          <b>{{session['login']}}</b> Log out
        {%else%}

        {% endif %}


     </a>

     </li>
 </ul>
{% endif %}

{% if "Customer"==session['role'] %}
 <ul id="menu">
     <li>
     <a href="/product_buy" title="product_buy"
         {% if request.environ.PATH_INFO.strip('/') =='product_buy'%}class="active"{% endif %}>
     Products
     </a>
     </li>
     <li>
     <a href="/my_orders" title="my_orders"
         {% if request.environ.PATH_INFO.strip('/') =='my_orders'%}class="active"{% endif %}>
     Orders
     </a>
     </li>


     <li style="float: right">

     <a  title="Log out" onclick="if(confirm('Are you sure you want to logout from the application?'))
        {href='/logout'}"

        {% if request.environ.PATH_INFO.strip('/') =='logout'%}class="active"{% endif %} >
        {% if session['login'] %}
          <b>{{session['login']}}</b> Log out
        {%else%}

        {% endif %}


     </a>

     </li>
 </ul>
{% endif %}



{% if "Merchandiser"==session['role'] %}
 <ul id="menu">

     <li>
     <a href="/current_order2" title="current_order2"
         {% if request.environ.PATH_INFO.strip('/') =='current_order2'%}class="active"{% endif %}>
     Order
     </a>
     </li>
         <li style="float: right">

     <a  title="Log out" onclick="if(confirm('Are you sure you want to logout from the application?'))
        {href='/logout'}"

        {% if request.environ.PATH_INFO.strip('/') =='logout'%}class="active"{% endif %} >
        {% if session['login'] %}
          <b>{{session['login']}}</b> Log out
        {%else%}

        {% endif %}


     </a>

     </li>
 </ul>
{% endif %}


{% if "Supervisor"==session['role'] %}
     <ul id="menu">

      <li>
     <a href="/product_grid" title="product_grid"
        {% if request.environ.PATH_INFO.strip('/') =='product_grid'%}class="active"{% endif %} >
     Products
     </a>
     </li>
     <li>

         <li style="float: right">

     <a  title="Log out" onclick="if(confirm('Are you sure you want to logout from the application?'))
        {href='/logout'}"

        {% if request.environ.PATH_INFO.strip('/') =='logout'%}class="active"{% endif %} >
        {% if session['login'] %}
          <b>{{session['login']}}</b> Log out
        {%else%}

        {% endif %}


     </a>

     </li>

 </ul>
{% endif %}
{% endblock bar %}


{% block body %}
{% block pagination %}

{% endblock pagination %}

{% endblock body %}



  </body>
</html>

