
{% extends "base.html" %}
{% block content %}
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <fieldset title="Order Management System" align="center" style="width: 400px; height: 175px">
    <legend>Order Management System</legend>
    <p>
        Username:
        {{form.login(size=20)}}<br>
        {% for error in form.errors.login %}
        <span style="color: red;">{{error}}</span>
        {% endfor %}<br>
        Password:
        {{form.password(size=20)}}<br>
        {% for error in form.errors.password %}
        <span style="color: red;">{{error}}</span>
        {% endfor %}<br>
    </p>

    <p><input type="submit" style="float:right" value="Login"></p>
    </fieldset>
</form>
{% endblock %}
