{% extends "layout.html" %}
{% block body %}
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $(':checkbox').iphoneStyle();
    });
  </script>
</head>
<body>

<div id="wrapper">
<div id="header">

</br></br></br></br>
<form action="" method="post" id="info">
	</br><h2>Order Management System</h2></br>
    <div id="name-wrap" class="slider">
        <label for="name">User Name</label>
        <input type="text" id="name" name="name">

    </div><!--/#name-wrap-->
    
    <div id="password-wrap"  class="slider">
        <label for="password">Password</label>
        <input type="text" id="password" name="password">
    </div><!--/#password-wrap-->
  <h3>Remember User Name</h3></br>
  <input type="checkbox" />
    <input type="submit" id="btn" name="btn" value="Log in">
</form>
</br></br></br></br>	</br></br></br></br>	</br></br></br></br>	</br></br></br></br>	</br></br></br></br>	</br></br></br></br>	</br></br></br></br>	
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-875557-1");
pageTracker._trackPageview();
} catch(err) {}</script>

<div id="footer">
	
</div>
<!-- end #footer-->

</div>
<!-- end #wrapper-->

</body>

{% endblock body %}
