{% extends "layout.html" %}
{% block body %}


<link rel="stylesheet" href="../static/styles/form.css" />
<link href="{{url_for('static', filename='styles/bootmetro.css')}}" rel="stylesheet" type="text/css" />



<!--JavaScript-->

<script type="text/javascript" src="../static/js/login.js"></script>
<script src="../static/js/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="../static/js/jquery.cookie.js"></script>


<body onLoad="load()">

<div id="wrapper">
<div id="header">



</div>
</br></br></br></br>
<form id="info" style="width: 450px; height: 250px;" method="POST" name="form">
                 <div class="top_bottom_line">
                     <span class='info'>Order Management System</span>
                        </div>
        <div style="width:350px; padding-top:20px; padding-left:30px;">
<div class ="name"> <div id="name-wrap">

               <span>User Name:   <input id="name" name="name" type="text" value=""></span>
               <div style = "height: 10px; width: 30px;"></div>
               <div class = "error_name"></div>
         </div>
         </div>

<div class ="password"> <div id="password-wrap">
	           <span>Password:       &nbsp     <input id="password" type="password" value="" name="password" style="margin-left: 2px;"></span>
               <div style = "height: 10px; width: 30px;"></div>
               <div class = "error_password"></div>

         </div>
         </div>
 {% if error in error %}
          <span style="color: red;">{{error }}</span>
 {% endif %}

    <label>
<input id="check" type="checkbox" value="">
<span class="metro-checkbox">Remember User Name</span>
</label>
    <input id="post_form" class="button" type="submit" onclick="return validate_login()" style="float: right; margin-right: 55px;" value="Log in">
        </div>
</form>



<!-- end #footer-->

</div>
<!-- end #wrapper-->
</body>
{% endblock body %}