{% extends "layout.html" %}
{% block body %}

        <script type="text/javascript">


$(document).ready(function() {
    var tr = [];
    var count_tr=$('#table_size').val();
    var th = ['Order id','Order number', 'Customer', 'Status','Amount','Assignee', 'Edit'];
    var count_td= th.length-1;
    var page = 1;
    var detector;
    var counter;
    var sort_by = "total_price";
    var order_sort_by = "asc";
    var table_grid = document.getElementById('grid');
  /* Creating table of products (size = count_tr Х count_td)  */

    tr[0] = document.createElement('TR');
    table_grid.appendChild(tr[0]);
    for (var j=0; j<=count_td; j++)
    {
          tr[0].appendChild(document.createElement('TH'));
          tr[0].cells[j].innerHTML=th[j];
    }

  /* Get order id from url*/
  var pathArray = window.location.pathname.split( '/' );
  var order_id = pathArray[2];
   /* End*/

  function create_grid(count_tr, count_td)
    {
        for (var i=1; i<=count_tr;i++ )
        {
            tr[i] = document.createElement('TR');
            table_grid.appendChild(tr[i]);
            tr[i].id=i;
            if (i % 2 == 0) tr[i].style.background =  "#efddba";
            for (var j=0; j<=count_td; j++)
             {
              tr[i].appendChild(document.createElement('TD'));
             }
        }

    }

   create_grid(count_tr,count_td);
  /*End of creating table*/

 function deleting_grid()
  {
    for (var n=table_grid.rows.length ; n>=2; n--)
      {
       table_grid.removeChild(table_grid.childNodes[n]);
      }

  }


            function listOrders(json){
                deleting_grid();
                create_grid(json.orders.length,count_td);
                var k=0;
                for (var order_k in json.orders)
                    {
                         k++;
                        tr[k].cells[0].innerHTML = json.orders[order_k].order_id
                        tr[k].cells[1].innerHTML = json.orders[order_k].order_number
                        tr[k].cells[2].innerHTML = json.orders[order_k].user;
                        tr[k].cells[3].innerHTML = json.orders[order_k].orderStatus;
                        tr[k].cells[4].innerHTML = "$ "+json.orders[order_k].total_price;
                        tr[k].cells[5].innerHTML = json.orders[order_k].role;
                        tr[k].cells[6].innerHTML = "<img src='static/images/Text Edit.png' class='edit_img' alt=" +k+ ">";
                        tr[k].cells[6].abbr=k;
                        tr[k].cells[6].onclick= function()
                            {
                                window.location.replace("order/"+tr[this.abbr].cells[0].innerHTML)
                            }

                    }
                    k=0;
                    /*End creating table*/
            }

            var k=0;
            form_value = {id : $('#name_form').val(), name : $('#product_name').val()};
            json_value = JSON.stringify(form_value);




              $('#apply_button').click(function(){
                createTableOrders()
            });


            function createTableOrders(){
                var status_options = document.getElementById('status_options').value;
                var orders_options = document.getElementById('orders_options').value;
                var name_input = document.getElementById('name_input').value;
                $.ajax({
                dataType: "json",
                url: '/api/manage_orders/?page='+page+'&table_size='+count_tr+'&status_option='+status_options+'&order_option='+orders_options+'&name_input='+name_input+''+'&sort_by='+sort_by+
                '&order_sort_by='+order_sort_by,
                type: 'GET',
                success: function(json)
                    {
                        listOrders(json);
                        records_amount=(json.records_amount);
                        records_per_page=(json.records_per_page);
                        pages_amount = Math.ceil(records_amount/records_per_page);
                        document.getElementById("page").innerHTML = page;
                        document.getElementById("pages_amount").innerHTML = pages_amount

                        if (page==1){
                            $('#prev').prop('disabled', true);
                            $('#first').prop('disabled', true);
                            $('#prev').addClass("button_disable");
                            $('#first').addClass("button_disable");
                        } else {
                            $('#prev').prop('disabled', false);
                            $('#first').prop('disabled', false);
                            $('#prev').removeClass("button_disable");
                            $('#first').removeClass("button_disable");
                            $('#prev').removeAttr("disabled");
                            $('#first').removeAttr("disabled");
                        }

                        if (page==pages_amount){
                            $('#next').prop('disabled', true);
                            $('#last').prop('disabled', true);
                            $('#next').addClass("button_disable");
                            $('#last').addClass("button_disable");
                        } else {
                            $('#next').prop('disabled', false);
                            $('#last').prop('disabled', false);
                            $('#next').removeClass("button_disable");
                            $('#last').removeClass("button_disable");
                            $('#next').removeAttr("disabled");
                            $('#last').removeAttr("disabled");
                        }
                    }
                })
            }

            if (page==1){
                createTableOrders();
            }

            $('#next').click(function(){
            if (page*records_per_page>=records_amount){page=page}
            else {page=page+1}
            createTableOrders()
            });

            $('#prev').click(function(){
            page=page-1;
            if (page<=1){
            page=1;
            }
            createTableOrders()
            });

            $('#first').click(function(){
            page=1;
            createTableOrders()
            });

            $('#last').click(function(){
            page=pages_amount;
            createTableOrders()
            });

            $('#table_size').change(function () {
            count_tr=$('#table_size').val();
            $( "#table_siz option:selected" ).each(createTableOrders())
            })


                 /*Sorting in columns */
  $("th").click(function(){
      $("th").removeClass("asc")
      $("th").removeClass("desc")
      var entry = this.innerHTML;

      switch (entry)
          {
          case "Order id":
            sort_by="order_id";
            break;
          case "Order number":
            sort_by="order_number";
            break;
          case "Customer":
            sort_by="user";
            break;
          case "Status":
            sort_by="orderStatus";
            break;
          case "Amount":
            sort_by="total_price";
            break;
          case "Assignee":
            sort_by="role";
            break;
          }
      if (detector===entry){
          counter+=1;
      }
      else {
          detector=entry;
          counter=0;
      }
      if (counter%2==0){
          order_sort_by = "asc";
          $(this).addClass("asc")
      }
      else {
          order_sort_by = "desc";
          $(this).addClass("desc")
      }

        createTableOrders();
    }
    );
    $('#table_size').change(function() {
        $("th").removeClass("asc")
        $("th").removeClass("desc")
        page=1;
        count_tr=$('#table_size').val();
        pages_amount = $("#table_size option:selected").val();
        createTableOrders();
    });


            });
        </script>

        <div class="">
<div class="">

            <div class="">
                <div class=" ">
                    <form class='form' action="">
                        <br>

                        <div class="field">
                            <lable style="float: left; line-height: 38px; padding-right:10px;">Status: </lable>
                            <select id="status_options" style="width: 100px; float: left" >
                                <option value="0">All</option>
                                <option value="1">Pending</option>
                                <option value="2">Ordered</option>
                                <option value="3">Delivered</option>
                            </select>
                        </div>
                        <div class="field" style="width: 500px;">
                            <lable style="float: left; line-height: 35px; padding-right:10px;">Search for orders by: </lable>
                            <select id="orders_options" style="width: 150px;float: left; margin:0px;">
                                <option value="0">Order Number</option>
                                <option value="1">Customer</option>
                            </select>
                            <input type="text" id="name_input" >
                        </div>
                        <span><input type="button" value="Apply" id='apply_button' style="float: right; margin-top: -37px"></span>
                    </form>
                </div>


            <div style="margin-left:80%;"></div>
                <div class="field" style="margin-left:5%;">
                    <lable>Table size: </lable>
                    <select id="table_size">
                        <option selected value="10"> Show 10 lines </option>
                        <option value="25">Show 25 lines </option>
                    </select>
                </div>
                   </select>
            </div>
            <div id=" ">
         <div id="orders">
            <table id='grid' class="grid">
            </table>
        </div>


            <div id="pagination" style="text-align: center">
                <input type="button" id="first" value="First">&nbsp
                <input type="button" id="prev" value="Prev">&nbsp

                <input type="button" id="next" value="Next">&nbsp
                <input type="button" id="last" value="Last">
                <div style="font-size:14px; color:#606860;">Page <span id="page"></span> of <span id="pages_amount"></span></div>
            </div>

            </div>

            </div>
        </div>
{% endblock body %}

