{% extends "layout.html" %}
{% block body %}

<script src="{{ url_for('static', filename='js/manage_order.js') }}"></script>

        <div class="">
<div class="">

            <div class="">
                <div class=" ">
                    <form class='form'>
                        <div class="top_bottom_line">
                            <span class="info">Orders Filter</span>
                        </div>
                      
                        <div class="form_block">
                        <div class="field">
                            <lable style="float: left; line-height: 35px; padding-right: 85px; margin-left: 95px;">Status: </lable>
                            <select id="status_options" style="width: 150px; float: left; margin-left: -73px;">
                                <option value="0">All</option>
                                <option value="1">Pending</option>
                                <option value="2">Ordered</option>
                                <option value="3">Delivered</option>
                            </select>
                        </div>
                        <div class="field" style="width: 550px;">
                            <lable style="float: left; line-height: 27px; padding-right:10px;">Search for orders by: </lable>
                            <select id="orders_options" style="width: 150px;float: left; margin-top:3px;">
                                <option value="0">Order Number</option>
                                <option value="1">Customer</option>
                            </select>
                            <input id="name_input" type="text" style="margin-top: 4px; margin-left: 10px;">
                            <input id="apply_button" type="button" style="margin-right: -39px; margin-bottom: 0px; " value="Apply">
                        </div>
                        </div>


                    </form>
                </div>


            <div style="margin-left:80%;"></div>
                <div class="field" style="margin-left:5%;">
                    <lable>Table size: </lable>
                    <select id="table_size" class="span2">
                        <option selected value="10"> Show 10 lines </option>
                        <option value="25">Show 25 lines </option>
                    </select>
                </div>
            </div>
                <div id=" ">

            <table id="grid" class="grid" >
                        <tr>
                            <th  class = 'index' title="Click on the header to sort column">
                                Order ID
                            </th>
                            <th  class = 'index' title="Click on the header to sort column">
                                Order Number
                            </th>
                            <th  class = 'index' title="Click on the header to sort column">
                                Customer
                            </th>
                            <th   class = 'index' title="Click on the header to sort column">
                                Status
                            </th>
                            <th   class = 'index' title="Click on the header to sort column">
                                Amount
                            </th>
                            <th  class = 'index' title="Click on the header to sort column">
                                Assignee
                            </th>
                            <th>
                                Edit
                            </th>
                        </tr>
                    </table>

</div>

            <div id="pagination" style="text-align: center">
                <input type="button" id="first" value="First">&nbsp
                <input type="button" id="prev" value="Prev">&nbsp

                <input type="button" id="next" value="Next">&nbsp
                <input type="button" id="last" value="Last">
                <div style="font-size:14px; color:#606860;">Page <span id="page"></span> of <span id="pages_amount"></span></div>
            </div>

            </div>

            </div>
        </div>
{% endblock body %}

