{% extends "layout.html" %}
{% block body %}
        <script src="{{ url_for('static', filename='js/datepicker/jquery.ui.core.js') }}"></script>
        <script src="{{ url_for('static', filename='js/datepicker/jquery.ui.widget.js') }}"></script>
        <script src="{{ url_for('static', filename='js/datepicker/jquery.ui.datepicker.js') }}"></script>
        <script src="{{ url_for('static', filename='js/order_details.js') }}"></script>


<div id="order_detail">
    <div id="products_block">
        <div id="amount_of_records" class="order_wrapper">
                   <select class="span2" id="table_size" style="position: relative; left:840px">
                        <option selected value="10">show 10 lines</option>
                        <option value="25">show 25 lines</option>
                   </select>
        </div>
        <div id="products" style="margin-top: 5px">
            <table id='grid' class="grid">
            </table>
        </div>
        <div id="pagination" style="text-align: center">
            <div >
                <input type="button" id="first" value="First">&nbsp
                <input type="button" id="prev" value="Prev">&nbsp
                <input type="button" id="next" value="Next">&nbsp
                <input type="button" id="last" value="Last">
                <div style="font-size:14px; color:#606860;">
                    Page <span id="page"></span> of <span id="pages_amount"></span>
                </div>
            </div>
        </div>
    <div class="order_wrapper_block">
        <div class="first_details_block">
            <p>Customer Name (Login): </p>
            <p>Customer Type: </p>
            <p>Order Number: </p>
            <p>Total Amount: </p>
            <p>Total Number of Items: </p>
            <p>Assignee: </p>
            <p>Date of Ordering: </p>
            <p>Preferable Delivery Date: </p>
        </div>
        <div class="second_details_block">
            <p><span id="customer_name"></span></p>
            <p><span id="customer_type"></span></p>
            <p><span id="order_number"></span></p>
            <p><span id="total_amount"></span></p>
            <p><span id="quantity_of_items"></span></p>
            <p><span id="assignee"></span></p>
            <p><span id="date_of_ordering"></span></p>
            <p><span id="preferable_delivery_date"></span></p>
            <p><span id="comments"></span></p>
        </div>
        <div class="third_details_block">
            <p id="status_checkbox">Status: <span id="status"></span></p>
            <p id="delivery_date_datepicker">Delivery date: <span id="delivery_date"></span></p>
            <p id="gift_checkbox">Gift: <span id="gift"></span></p>
        </div>
    </div>
    <div id="button" style="width: 90%">
       <input id="cancel" type="button" value="Cancel" style="float: right; margin-left: 10px">
       <input id="save" type="button" value="Save" style="float: right;">
    </div>

</div>

</div>

{% endblock body %}



