{% extends "layout.html" %}
{% block body %}


    <script src="{{ url_for('static', filename='js/datepicker/jquery.ui.core.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datepicker/jquery.ui.widget.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datepicker/jquery.ui.datepicker.js') }}"></script>

<script type="text/javascript">

/*Datapicker options*/
	$(function() {
		$( "#expire_date" ).datepicker({
			/*showOn: "button"
			/*buttonImage: "static/images/calendar.gif",
			buttonImageOnly: true*/
		});

		$( "#start_date" ).datepicker({
			/*showOn: "button"
			/*buttonImage: "static/images/calendar.gif",
			buttonImageOnly: true*/
		});
	});
/*---------------*/
  var count_tr=10;
  var count_td=6;
  var tr = [];
  var order_id=0;
  /* Creating table of products */
  $(document).ready(function() {
    var page = 1;
    var table_grid = document.getElementById('grid');
    function create_grid(count_tr, count_td)
    {
        for (var i=1; i<=count_tr;i++ )
        {
            tr[i] = document.createElement('TR');
            table_grid.appendChild(tr[i]);
            tr[i].id=i;
            if (i % 2 == 0) tr[i].style.background = "#c0c0c0"; /* .className = 'tr_style' */
            for (var j=0; j<=count_td; j++)
             {
              tr[i].appendChild(document.createElement('TD'));
             }
        }
      $( "tr:even" ).css( "background-color", "#c0c0c0" );
    }

    create_grid(count_tr,count_td);
  /*End of creating table*/

  /*Create "Delivery option's" select */
 var arr =[
 {%for i in dimensions_arr %}
 {val : {{ i.id }} , text: '{{i.name}}'},
 {% endfor %}
          ];
  var select = $('#delivery_options')
  $(arr).each(function() {
    select.append($("<option>").attr('value',this.val).text(this.text));
  });
 /*End  "Delivery option's" select */

  function clearing_tr(i)
  {
      for (var j=0; j<=6; j++)
      {
          tr[i].cells[j].innerHTML='';
      }
  }


  function clearing_grid()
  {
    for (var n=2 ; n<=count_tr; n++)
    {
      clearing_tr(n);
    }
  }

 function deleting_grid()
 {
    for (var n=table_grid.rows.length ; n>=2; n--)
      {
       table_grid.removeChild(table_grid.childNodes[n]);
      }

 }

ajax_pull('Grid','GET','data');

 function ajax_pull(success_option,type_options,data){
       $.ajax({
        dataType: "json",
        url: '/api/order_product',
        type: type_options,
        contentType: "application/json",
        data:data,
        success: function(json)
        {
            if (success_option == 'Grid'){
             ajax_success(json);
             }
             else {
              alert('Order successfully issued');
              ajax_pull('Grid','GET','data');
              }
         }


      })
 }


    $('#apply_button').click(function(){
    create_entity();
    });


  function delete_id(id)
  {
  if (id=='') id=0;
   $.ajax({
       dataType: "json",
        url: '/api/order_product/'+id+'/'+order_id,
        type: 'DELETE',
        contentType: "application/json",
        success: function(json)
                    {
                        if (json.message == 'success')
                         {
                          alert('The product has been successfully deleted from the cart');
                          ajax_pull('Grid','GET','data');
                         }
                        else
                         alert (json.message);
                    },

        error: function(e)
                    {
                       error = JSON.parse(e.responseText);
                       alert(error.message);
                    }

  })
 }

  function ajax_success(json){
           deleting_grid();
           create_grid(json.order.length,count_td);
           var k=0;
           /*Create table with new order_products list */
            for (var product_k in json.order)
               {
                 k++;
                 order_id=json.order[product_k].order_id;
                 product_name =json.order[product_k].name;
                 id_product =json.order[product_k].id;
                 tr[k].cells[0].innerHTML =product_name;
                 tr[k].cells[1].innerHTML = json.order[product_k].description;
                 tr[k].cells[2].innerHTML = json.order[product_k].dimension;
                 tr[k].cells[3].innerHTML = "<span class='price'>"+json.order[product_k].price.toFixed(2)+"</span>";
                 input = "<input type='text' class='quantity' value='"+json.order[product_k].quantity+"'\
                        alt='"+json.order[product_k].id+"' style='width:60px'>\
                        <input type='button' value='update' class='update_amount'> \
                          <div class='error_div'></div>";

                 tr[k].cells[4].innerHTML = input;
                 if (json.order[product_k].quantity) quant= Math.round(json.order[product_k].quantity); else quant= 0;
                 var amount= (+json.order[product_k].price * +quant).toFixed(2);
                 tr[k].cells[5].innerHTML = "<span class='amount'>"+amount+"</span>";
                 tr[k].cells[6].innerHTML = "<img src='static/images/delete.png' class='delete_img'\
                 id='"+product_name+"' alt=" + json.order[product_k].id + " >";
               }

                $('#total_amount').text('Total amount: ' + get_total_amount().toFixed(2));


            /*End creating table*/

                $('.delete_img').click(function(){
                  if(confirm('Are you sure that you want to remove '+ this.id +' from the cart?'))
                  {
                    delete_id(this.alt);
                   }
                 })

                $('tr input.update_amount').click(function(){
                   var tr= $(this).closest('tr');
                   var price = tr.children('td').children('.price').text();
                   var quantity = Math.round($(this).prev().val());
                       $(this).prev().val(quantity);
                   if(!(quantity/quantity)||(quantity==0)){  /*Check on numeric */
                      $('.error_div').empty();
                      $(this).next('.error_div').html('Quantity should be numeric and not 0');
                     }
                    else{
                     $('.error_div').empty();
                     var sum = +price*+quantity;
                     tr.children('td').children('.amount').text(sum.toFixed(2));
                     $('#total_amount').text('Total amount: ' + get_total_amount().toFixed(2));
                     }
                })

  }

  function get_total_amount()
  {
   var total =0;
   for( var i=0, total=0; i<$('.amount').size(); i++)
   {
    total = +$('.amount:eq('+i+')').text() + +total;
   }
   return total;
  }


  $('#add_order').click(function(){
       /* Validation options*/
       var error='';
       var no_error = true
       if  (($('#input_address').val().length >50) || ($('#input_address').val().length >1000)
               || ($('#input_address').val().length == 0))
       {
        no_error = false;
        error ='- Comment string should be less then 1500 characters and address string less then 50, but not 0<br>';
       }

       for( var i=0, total=0, k=0; i<$('.quantity').size(); i++)
         {
          quantity = $('.quantity:eq('+i+')').val();

          if(!(quantity/quantity)||(quantity==0) && k != 1 ){  /*Check on numeric */
              error = error+ '- Quantity should be numeric and not 0';
              k= 1;
              no_error = false;
            }
         }

      /*--------------------*/

      /*Credit card validation*/
     r_e=/(5[1-5]\ d{ 14} )|(4\ d{ 12} (\ d{ 3} )?)|(3[47]\ d{ 13} )|(6011\ \ d{ 14} )|((30[0-5]|36\ d|38\ d)\ d{ 11})/;
     credit_number = $('#credit_card_number').val();

       if (r_e.test(credit_number)){}
       else
       {
         /*no_error = false;
         error =error+ '- Number of credit card is illegal<br>';*/
       }
      r_e_ccv2=/^[0-9]{4}$/;
      cvv2_number = $('#cvv2_number').val();
      if (r_e_ccv2.test(cvv2_number)) {}
      else
       {
          no_error=false;
          error=error+ '- CVV2 number is wrong<br>';

      }
      /*----------------------*/

       if (no_error){
          /*add all quantity and product_id in array */
         var product_arr=[];
         for( var i=0, total=0; i<$('.quantity').size(); i++)
         {
         product_arr[i]= {'quantity':+$('.quantity:eq('+i+')').val(), 'product_id':+$('.quantity:eq('+i+')').attr('alt')}
         }
        /*------------------*/

         form_value = { order_id:order_id, delivery_type:$('#delivery_options').val(),
                        delivery_address: $('#input_address').val(), comment:$('.comments_area').val(),
                        credit_card_options:$('#credit_card_options').val(),
                        credit_card_number:$('#credit_card_number').val(),
                        cvv2_number:$('#cvv2_number').val(), expire_date:$('#expire_date').val(),
                        cvv2_number:$('#start_date').val(), expire_date:$('#issue_number').val(),
                        product_quantity:product_arr};

         json_value = JSON.stringify(form_value);
          $('.error_div').empty();
         ajax_pull('Alert','PUT',json_value);
       }
        else{

         $('#order_error').html(error)

        }

   })

  $('#cvv2_info').click(function(){

    alert('A card security code (CSC), sometimes called card verification data (CVD), card verification number (CVN),\
      card verification value (CVV or CVV2), card verification value code (CVVC), card verification code (CVC or CVC2),\
      verification code (V-code or V code), card code verification (CCV),[1] or signature panel code (SPC)[2] \
      are different\
      terms for a security feature for card not present payment card transactions against credit card fraud.\
      The CSC is in addition to the bank card number which is embossed or printed on the card. The CSC is also in\
      addition to\
      the PIN or passwords associated with the card. The PIN is not printed or embedded on the card but is manually\
      entered by\
      the cardholder during a point-of-sale (card present) transaction. Contactless card and chip cards may \
      electronically\
      generate their own code, such as iCVV\
      or Dynamic CVV.\
      MasterCard started issuing CSCs in 1997 and Visa in the United States issued them by 2001. American Express\
      started to use the CSC in\
      1999 in response to growing internet transactions and card member complaints of spending interruptions when \
      the security of a card has\
      been brought into question.');
  })


 })



   </script>




  <div id="products_block">
      <div id="products_filter">

      </div>
      <div id="products_table">
       <table id='grid' class="grid">
           <tr>

                <th>
                   Product name
               </th>
               <th>
                   Description
               </th>
               <th>
                   Dimension
               </th>
                <th>
                   Price
               </th>
               <th>
                   Quantity
               </th>
               <th>
                   Amount
               </th>
               <th>
                   Delete
               </th>
           </tr>
       </table>

      </div>
          <div style="clear:both;"></div>

      <div class="product_filter_in" style=" margin:0px auto; ">
         <div class="ProductTitle" id="total_amount" style="width:75%; text-align:right;" >
             Total amount:
         </div>
       <div style="width:850px; margin:0 auto;">
        <div class="order_block">

           <div class="field">
               <lable>Delivery Type: </lable>
               <select id="delivery_options" style="width:165px;">

               </select>
           </div>
           <div class="field">
               <lable>Delivery Address: </lable>
               <input type="text" id="input_address">
           </div>

           <div class="field">
               <lable>Comments: </lable>
               <textarea class="comments_area"></textarea>
           </div>
           <div class="field">
              <input type="button" id="add_order" value="Place an order">
           </div>
           <div class="field">
             <div class="error_div" id="order_error"> </div>
           </div>

        </div>

        <div class="order_block">
            <span style='margin-left:10px; font-weight: bold;'>Card Info</span>
           <div class="field">
            <lable>Credit Card Type:<span class='red_star'>*</span> </lable>
               <select id="credit_card_options" style="width:165px;">
                 <option value=1>Visa</option>
                 <option value=2>MasterCard</option>
                 <option value=3>American Express</option>
                 <option value=4>Diners Club</option>
                 <option value=5>Discover</option>
                 <option value=6>JCB</option>
               </select>
            </div>
            <div class="field">
               <lable>Credit Card Number:<span class='red_star'>*</span> </lable>
               <input type="text" id="credit_card_number">
            </div>
            <div class="field">
               <lable>CVV2 Code <span class='red_star'>*</span>: <span id='cvv2_info' style='text-decoration: underline; font-size: 10px;'>
                   What is this? </span>
               </lable>
               <input type="text" id="cvv2_number">
            </div>

            <div class="field">
               <lable>Expiry Date <span class='red_star'>*</span>:</lable>
               <input type="text" id="expire_date">
            </div>

            <div class="field">
               <lable>Start Date<span class='red_star'>*</span>: <span style="font-size:9px;">For Maestro</span></lable>
               <input type="text" id="start_date">
            </div>

            <div class="field">
               <lable>Issue Number: <span class='red_star'>*</span><span style="font-size:9px;">For Maestro</span></lable>
               <input type="text" id="issue_number">
            </div>
             <div class="field">

            </div>

        </div>
              <div style="clear:both;"></div>
        </div>


      </div>
</div>
{% endblock body %}
