{% extends "layout.html" %}
{% block body %}

        <script type="text/javascript">

            var tr = [];

            $(document).ready (function() {
            var count_tr=$('#table_size').val();
            var count_td=6;
            var page = 1;
            var table_grid = document.getElementById('grid');

            function creat_grid(count)
                {
                    for (var i=1; i<=count;i++ )
                        {
                            tr[i] = document.createElement('TR');
                            table_grid.appendChild(tr[i]);
                            tr[i].id=i;
                            if (i % 2 == 0) tr[i].style.background = "#c0c0c0";
                            for (var j=0; j<=4; j++)
                                {
                                    tr[i].appendChild(document.createElement('TD'));
                                }
                        }
                    $( "tr:even" ).css( "background-color", "#c0c0c0" );
                }

            function deleting_grid()
                {
                    for (var n=table_grid.rows.length ; n>=2; n--)
                        {
                            table_grid.removeChild(table_grid.childNodes[n]);
                        }

                }

            $('#search_button').click(function(){
//              var name = document.getElementById('name').value
//              var start_price = document.getElementById('start_price').value
//              var end_price = document.getElementById('end_price').value
//              createEntityByFilter(name, start_price, end_price)
                grid_pagination()
            });

//            function createEntityByFilter(name, start_price, end_price){
//                $.ajax({
//                dataType: "json",
//                url: '/api/product?name='+name+'&start_price='+start_price+'&end_price='+end_price+'&page='+page+'&table_size='+count_tr+'',
//                type: 'GET',
//                contentType: "application/json",
//                success: function(json)
//                    {
//                        ajax_success(json);
//                        records_amount=(json.records_amount);
//                        records_per_page=(json.records_per_page);
//                        pages_amount = Math.ceil(records_amount/records_per_page);
//                        document.getElementById("page").innerHTML = page;
//                        document.getElementById("pages_amount").innerHTML = pages_amount
//
//                        if (page==1){
//                            $('#prev').css({ "opacity":"0.4"});
//                            $('#first').css({ "opacity":"0.4"});
//                        } else {$('#prev').css({ "opacity": "1"});
//                            $('#first').css({ "opacity": "1"});
//                        }
//
//                        if (page==pages_amount){
//                            $('#next').css({ "opacity": "0.4"});
//                            $('#last').css({ "opacity": "0.4"});
//                        } else {$('#next').css({ "opacity": "1"});
//                            $('#last').css({ "opacity": "1"});
//                        }
//                    }
//                })
//            }


            function ajax_success(json){
                deleting_grid();
                creat_grid(json.products.length);
                /*Create table */
                for (var product_k in json.products)
                    {
                        k++;
                        tr[k].cells[0].innerHTML = json.products[product_k].name;
                        tr[k].cells[1].innerHTML = json.products[product_k].description;
                        tr[k].cells[2].innerHTML = json.products[product_k].price;
                        tr[k].cells[3].innerHTML = "<input type='text' id = 'output"+k+"' style='width:50px' value = '1' alt=" + k + ">";
                        tr[k].cells[4].innerHTML = "<input type='button' value='Add to Cart' id='button'  alt=" + k + ">";
                        tr[k].cells[3].abbr=k;
                        tr[k].cells[4].abbr=k;
                        tr[k].cells[4].onclick= function()
                            {
                                var value = document.getElementById('output'+this.abbr).value
                                var id = json.products[this.abbr-1].id;
                                buyProduct(id, value)
                            }
                    }
                    k=0;
                    /*End creating table*/
            }


            function buyProduct(id,value)
            {
                data = {'value': value};
                $.ajax({
                    dataType: "json",
                    url: '/api/order/product/'+id,
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function(json)
                    {
                        if (json.message == 'success')
                            {
                            alert('The product was successfully added');
                            }
                        else
                         alert (json.message);
                    },
                    error: function(e)
                    {
                       error = JSON.parse(e.responseText);
                       alert(error.message);
                    }
                 })
             }


            var k=0;
            form_value = {id : $('#name_form').val(), name : $('#product_name').val()};
            json_value = JSON.stringify(form_value);


            $('#clr').click(deleting_grid);

            function grid_pagination(){
                var name = document.getElementById('name').value
                var start_price = document.getElementById('start_price').value
                var end_price = document.getElementById('end_price').value
                $.ajax({
                dataType: "json",
                url: '/api/product?page='+page+'&table_size='+count_tr+'&name='+name+'&start_price='+start_price+'&end_price='+end_price+'',
                type: 'GET',
                contentType: "application/json",
                success: function(json)
                    {
                        ajax_success(json);
                        records_amount=(json.records_amount);
                        records_per_page=(json.records_per_page);
                        pages_amount = Math.ceil(records_amount/records_per_page);
                        document.getElementById("page").innerHTML = page;
                        document.getElementById("pages_amount").innerHTML = pages_amount

                        if (page==1){
                            $('#prev').css({ "opacity":"0.4"});
                            $('#first').css({ "opacity":"0.4"});
                        } else {$('#prev').css({ "opacity": "1"});
                            $('#first').css({ "opacity": "1"});
                        }

                        if (page==pages_amount){
                            $('#next').css({ "opacity": "0.4"});
                            $('#last').css({ "opacity": "0.4"});
                        } else {$('#next').css({ "opacity": "1"});
                            $('#last').css({ "opacity": "1"});
                        }
                    }
                })
            }

            if (page==1){
                grid_pagination();
            }

            $('#next').click(function(){
            if (page*records_per_page>=records_amount){page=page}
            else {page=page+1}
            grid_pagination()
            });

            $('#prev').click(function(){
            page=page-1;
            if (page<=1){
            page=1;
            }
            grid_pagination()
            });

            $('#first').click(function(){
            page=1;
            grid_pagination()
            });

            $('#last').click(function(){
            page=pages_amount;
            grid_pagination()
            });

            $('#table_size').change(function () {
            count_tr=$('#table_size').val();
            $( "#table_siz option:selected" ).each(grid_pagination())
            });

            $('#name').blur(function() {
                var regV_login = /^[a-zA-Z]+$/;
                var res = $(this).val().match(regV_login)
                if(!res && $(this).val() != ''){
                    $(this).css({'border' : '2px solid #ff0000'});
                    $('#valid').text('Field not be empty');
                    document.getElementById('search_button').disabled = true;
            } else {
                $(this).css({'border' : '2px solid #999'});
                document.getElementById('search_button').disabled = false;
            }
             });

            $('#start_price').blur(function() {
                if( isNaN($(this).val())) {
                    $(this).css({'border' : '2px solid #ff0000'});
                    $('#valid').text('Field not be empty');
                    document.getElementById('search_button').disabled = true;
                }else{
                    $(this).css({'border' : '2px solid #999'});
                    document.getElementById('search_button').disabled = false;
                }
            });

            $('#end_price').blur(function() {
                if( isNaN($(this).val())) {
                    $(this).css({'border' : '2px solid #ff0000'});
                    $('#valid').text('Field not be empty');
                    document.getElementById('search_button').disabled = true;
                }else{
                    $(this).css({'border' : '2px solid #999'});
                    document.getElementById('search_button').disabled = false;
                }
            });

            });

        </script>

        <div class="">
            <div class="">
                <div class=" ">
                    <form class='form' action="">
                         <div class="ProductTitle">Filter</div>
                        <span>Keyword <input type="text"  id = 'name' style="width:150px" /></span>
                        <span>Price <input type="text" id = 'start_price' style="width:50px" /> - </span>
                        <span><input type="text"  id = 'end_price' style="width:50px" /> </span>
                        <span><input type="button" value="search" id='search_button'></span>
                    </form>
                </div>
            </div>

            <div class="field" style="margin-left:5%;">
                  <lable>Table size: </lable>
                  <select id="table_size">
                    <option selected>5</option>
                    <option>25</option>
                   </select>
            </div>
            <div style="margin-left:80%;">
            </div>
            <div id=" ">
                <table id='grid' class="grid">
                    <tr>
                        <th>
                            Product
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>

                        </th>
                    </tr>
                </table>


            <div id="pagination" style="text-align: center">
                <input type="button" id="first" value="First">&nbsp
                <input type="button" id="prev" value="Prev">&nbsp

                <input type="button" id="next" value="Next">&nbsp
                <input type="button" id="last" value="Last">
                <div style="font-size:14px; color:#606860;">Page <span id="page"></span> of <span id="pages_amount"></span></div>
            </div>

            </div>

            </div>
        </div>
{% endblock body %}