{% extends "layout.html" %}
{% block body %}

<script src="{{ url_for('static', filename='js/product_grid.js') }}"></script>
<script src="{{ url_for('static', filename='js/order_product_function.js') }}"></script>
<div id="products_block">
    <div id="products_filter">
        <a href='create_product' style='color:black; text-decoration:none;'>
            <input type='button' value="Create Product">
        </a>
        <div class="product_filter_in">

            <form class="form" style="width: 980px; margin: 0px auto;">
                <div class="top_bottom_line">
                    <span class='info'>Filter List</span>
                </div>
                <div style='margin:0px auto; width:500px;'>
                <div class="field">
                    <label>Name: </label>
                    <select class="span1" id="name_options">
                        <option value="0"></option>
                        <option value="1">start with</option>
                        <option value="2">contains</option>
                        <option value="3">equal to</option>
                    </select>
                    <input type="text" id="name_input">
                </div>

                <div class="field">
                    <label>Description: </label>
                    <select class="span1" id="description_options">
                        <option value="0"></option>
                        <option value="1">start with</option>
                        <option value="2">contains</option>
                        <option value="3">equal to</option>
                    </select>
                    <input type="text" id="description_input">
                </div>

                <div class="field">
                    <label>Price: </label>
                    <select class="span1" id="price_options">
                        <option value="0"></option>
                        <option value="1">less than</option>
                        <option value="2">more than</option>
                        <option value="3">equal to</option>
                    </select>
                    <input type="text" id="price_input">
                </div>
                </div>
                <div class="error_div" style='width:90%; margin: 0px auto;'>
                </div>
                <div style="margin-left:70%; margin-bottom: 5px;">
                    <input type="button" value="Apply" id='apply_button'>
                    <input type="button" value="Clear" id='clr'>
                </div>
            </form>

        </div>

    </div>

    <div  style='width:1000px; margin:0px auto;'>

        <div class="field" style="text-align:left;">
            <label>Table size: </label>
            <select class="span1" id="table_size">
                <option selected value="5">Show 5 lines</option>
                <option value="25">Show 25 lines</option>
            </select>
        </div>



        <table id='grid' class="grid">
        </table>




        <div id="pagination" style="text-align: center">
            <input type="button" class="first" id="first" value="First">&nbsp
            <input type="button" class="prev" id="prev" value="Prev">&nbsp


            <input type="button" id="next" class="next" value="Next">&nbsp
            <input type="button" id="last" class="last" value="Last">
            <div style="font-size:14px; color:#606860;">Page <span id="page"></span> of <span id="pages_amount"></span></div>

        </div>

    </div>
</div>
{% endblock body %}
