{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">

   var count_tr=23;
   var tr = [];

   /* Creating table of products */

  $(document).ready(function() {
    var table_grid = document.getElementById('grid');
    function creat_grid(count)
    {
        for (var i=1; i<=count;i++ )
        {
            tr[i] = document.createElement('TR');
            table_grid.appendChild(tr[i]);
            tr[i].id=i;
            if (i % 2 == 0) tr[i].style.background = "#c0c0c0"; /* .className = 'tr_style' */
            for (var j=0; j<=6; j++)
             {
              tr[i].appendChild(document.createElement('TD'));
             }
        }
    }

    creat_grid(count_tr);
  /*End of creating table*/


  function clearing_tr(i)
  {
      for (var j=0; j<=6; j++)
      {
          tr[i].cells[j].innerHTML='';
      }
  }


  function clearing_grid()
  {
    for (var n=2 ; n<=count_tr; n++)
    {
      clearing_tr(n);
    }
  }

 function deleting_grid()
 {
    for (var n=table_grid.rows.length ; n>=2; n--)
      {
       table_grid.removeChild(table_grid.childNodes[n]);
      }

 }


 function create_entity(){
       $.ajax({
       dataType: "json",
        url: '/api/product',
        type: 'GET',
        data: json_value,
        contentType: "application/json",
        success: function(json)
        {
           //clearing_grid()


           deleting_grid()
           creat_grid(json.products.length)
           /*Create table with new products list */
            for (var product_k in json.products)
                {
                 k++;

                 tr[k].cells[0].innerHTML = json.products[product_k].id;
                 tr[k].cells[1].innerHTML = json.products[product_k].name;
                 tr[k].cells[2].innerHTML = json.products[product_k].description;
                 tr[k].cells[3].innerHTML = json.products[product_k].price;
                 tr[k].cells[4].innerHTML = json.products[product_k].dimension;
                 tr[k].cells[5].innerHTML = "<img src='static/images/Text Edit.png' class='edit_img' alt=" + k + ">";
                 tr[k].cells[6].innerHTML = "<img src='static/images/delete.png' class='delete_img'  alt=" + k + ">";
                 tr[k].cells[5].abbr=k;
                 tr[k].cells[6].abbr=k;
                 tr[k].cells[5].onclick = function edit_tr2()
                                      {
                                       alert ('Edit '+tr[this.abbr].cells[1].innerHTML+'');
                                      }
                 tr[k].cells[6].onclick= function delete_tr2()
                                      {
                                        var str = tr[this.abbr].cells[1].innerHTML
                                        var id_tr = tr[this.abbr].cells[0].innerHTML
                                        if (confirm('Are you sure you want to delete product '+ str +' '+id_tr+'?'))
                                        {
                                          delete_id(id_tr,this.abbr)
                                        }
                                       }
                }
                k=0;
            /*End creating table*/

         }
      })
 }

    var k=0;
    form_value = {id : $('#name_form').val(), name : $('#product_name').val()};
    json_value = JSON.stringify(form_value);

    create_entity();

    $('#apply_button').click(function(){
    create_entity();
    });


  function delete_id(id,tr_id)
  {
  if (id=='') id=0;
   form_value = {id : id}
   json_value = JSON.stringify(form_value);
   $.ajax({
       dataType: "json",
        url: '/api/product/'+id,
        type: 'DELETE',
        /*data: {id:id}*/
        contentType: "application/json",
        success: function(json)
                    {
                        if (json.message == 'success')
                         {
                          alert('The product has been successfully deleted');
                          clearing_tr(tr_id);
                          create_entity();
                         }
                        else
                         alert (json.message);
                    },

        error: function(e)
                    {
                       error = JSON.parse(e.responseText);
                       alert(error.message);
                    }

  })
 }

   $('#clr').click(deleting_grid);
 });

   </script>


  <div id="products_block">
      <div id="products_filter">
          <span>Filter List</span>
        <div class="product_filter_in">
         <form class='form' style="width:40%; margin:0 auto;">

             <div class="field">
                  <lable>Name: </lable>
                  <select id="name_options">
                    <option></option>
                    <option>start with</option>
                    <option>contains</option>
                    <option>equal to</option>
                   </select>
                    <input type="text" id="name_input">
             </div>

             <div class="field">
                 <lable>Description: </lable>
                 <select id="description_options">
                    <option></option>
                    <option>start with</option>
                    <option>contains</option>
                    <option>equal to</option>
                  </select>
                    <input type="text" id="description_input">
             </div>

             <div class="field">
                 <lable>Price: </lable>
                 <select id="description_options">
                    <option></option>
                    <option>less than</option>
                    <option>more than</option>
                    <option>equal to</option>
                 </select>
                 <input type="text" id="description_input">
             </div>

             <div class="field">
                  <lable>Filter Name Test: </lable>
                  <select id="product_name">
                    <option>Apple</option>
                    <option>Orange</option>
                    <option>Pineapple</option>
                    <option>Banana</option>
                   </select>
          </div>


         </form>
          <div style="margin-left:70%;">
             <input type="button" value="Apply" id='apply_button'>
             <input type="button" value="clear" id='clr'>
           </div>
        </div>

      </div>
      <div id="products_table">
       <table id='grid' class="grid">
           <tr>
               <th>
                   id
               </th>
                <th>
                   product name
               </th>
               <th>
                   description
               </th>
               <th>
                   price
               </th>
               <th>
                   dimension
               </th>
               <th>
                   edit
               </th>
               <th>
                   delete
               </th>
           </tr>
       </table>
      </div>

{% endblock body %}
