{% extends "layout.html" %}
{% block body %}

        <script type="text/javascript">

            var count_tr=25;
            var tr = [];

 
            $(document).ready (function() {
            var table_grid = document.getElementById('grid');
            function creat_grid(count)
                {
                    for (var i=1; i<=count;i++ )
                        {
                            tr[i] = document.createElement('TR');
                            table_grid.appendChild(tr[i]);
                            tr[i].id=i;
                            if (i % 2 == 0) tr[i].style.background = "#c0c0c0";
                            for (var j=0; j<=4; j++)
                                {
                                    tr[i].appendChild(document.createElement('TD'));
                                }
                        }
                }
            creat_grid();

            function clearing_tr(i)
                {
                    for (var j=0; j<=7; j++)
                        {
                            tr[i].cells[j].innerHTML='';
                        }
                }


            function clearing_grid()
                {
                    for (var n=2 ; n<=count_tr; n++)
                        {
                            clearing_tr(n);
                        }
                }
            function deleting_grid()
                {
                    for (var n=table_grid.rows.length ; n>=2; n--)
                        {
                            table_grid.removeChild(table_grid.childNodes[n]);
                        }

                }

            function create_entity(){
                $.ajax({
                dataType: "json",
                url: '/buy',
                type: 'GET',
                data: json_value,
                contentType: "application/json",
                success: function(json)
                    {
                        //clearing_grid(
                        // )
                        deleting_grid()
                        creat_grid(json.products.length)
                        /*Create table */
                        for (var product_k in json.products)
                        {
                            k++;
                            if (k>count_tr) break;
                            tr[k].cells[0].innerHTML = json.products[product_k].name;
                            tr[k].cells[1].innerHTML = json.products[product_k].description;
                            tr[k].cells[2].innerHTML = json.products[product_k].price;
//                          tr[k].cells[3].innerHTML = json.products[product_k].role_id;
//                          tr[k].cells[4].innerHTML = json.products[product_k].email;
//                          tr[k].cells[5].innerHTML = json.products[product_k].region_id;"
                            tr[k].cells[3].innerHTML = "<input type='text' style='width:50px' value = 1 alt=" + k + ">";
                            tr[k].cells[4].innerHTML = "<input type='button' value='Add to Card' id='search_button'  alt=" + k + ">";
                            tr[k].cells[3].abbr=k;
                            tr[k].cells[4].abbr=k;
//                          tr[k].cells[3].onclick = function edit_tr2()
//                              {
//                                  alert ('Edit '+tr[this.abbr].cells[1].innerHTML+'');
//                              }
//                          tr[k].cells[4].onclick= function delete_tr2()
//                              {
//                                  var str = tr[this.abbr].cells[1].innerHTML
//                                  var id_tr = tr[this.abbr].cells[0].innerHTML
//                                  if (confirm('Are you sure you want to delete product '+ str +' '+id_tr+'?'))
//                                      {
//                                          delete_id(id_tr,this.abbr)
//                                      }
//                              }
                        }
                         k=0;
                         /*End creating table*/
                    }
                })
            }

            var k=0;
            form_value = {id : $('#name_form').val(), name : $('#product_name').val()};
            json_value = JSON.stringify(form_value);

            create_entity();



            $('#clr').click(deleting_grid);
            });
        </script>
    </head>

    <body>
        <div class="">
            <div class="">
                <div class=" ">
                    <span>Filter</span>
                    <form class='grid' action="" method="post">
                        <span>Keyword <input type="text" name = 'name' style="width:150px" /></span>
                        <span>Prise <input type="text" name = 'start_prise' style="width:50px" /> - </span>
                        <span><input type="text" name = 'end_prise' style="width:50px" /> </span>
                        <span><input type="submit" value="search" id='search_button'></span>
                    </form>
                </div>
            </div>
            <div style="margin-left:80%;">
            </div>
            <div id=" ">
                <table id='grid' class="grid">
                    <tr>
                        <th>
                            Product
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Prise
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                    </tr>
                </table>

<!--                <div style="text-align: center">
                    {% if pagination.has_prev %}<a href="{{ url_for('buygrid', page = 1) }}"> First </a>{% else %} First{% endif %} |
                    {% if pagination.has_prev %}<a href="{{ url_for('buygrid', page = pagination.prev_num) }}"> Prev</a>{% else %} Prev{% endif %} |
                    Page #{{pagination.page}} of {{pagination.pages}} |
                    {% if pagination.has_next %}<a href="{{ url_for('productgrid', page = pagination.next_num) }}">Next </a>{% else %}Next {% endif %} |
                    {% if pagination.has_next %}<a href="{{ url_for('productgrid', page = pagination.pages) }}">Last </a>{% else %}Last {% endif %}

                </div>-->

            </div>
        </div>
    </body>
{% endblock body %}
