{% extends "layout.html" %}
{% block body %}

        <script type="text/javascript">

            var count_tr=45;
            var tr = [];


            $(document).ready (function() {
            var table_grid = document.getElementById('grid');
            function creat_grid(count)
                {
                    for (var i=1; i<=count;i++ )
                        {
                            tr[i] = document.createElement('TR');
                            table_grid.appendChild(tr[i]);
                            tr[i].id=i;
                            if (i % 2 == 0) tr[i].style.background = "#c0c0c0";
                            for (var j=0; j<=4; j++)
                                {
                                    tr[i].appendChild(document.createElement('TD'));
                                }
                        }
                }
            creat_grid();

            function clearing_tr(i)
                {
                    for (var j=0; j<=4; j++)
                        {
                            tr[i].cells[j].innerHTML='';
                        }
                }


            function clearing_grid()
                {
                    for (var n=1 ; n<=count_tr; n++)
                        {
                            clearing_tr(n);
                        }
                }
            function deleting_grid()
                {
                    for (var n=table_grid.rows.length ; n>=2; n--)
                        {
                            table_grid.removeChild(table_grid.childNodes[n]);
                        }

                }

            function createEntity(){
                $.ajax({
                dataType: "json",
                url: '/api/buy',
                type: 'GET',
                data: json_value,
                contentType: "application/json",
                success: function(json)
                    {
//                        deleting_grid()
                        creat_grid(json.products.length)
                        /*Create table */
                        for (var product_k in json.products)
                        {
                            k++;
                            tr[k].cells[0].innerHTML = json.products[product_k].name;
                            tr[k].cells[1].innerHTML = json.products[product_k].description;
                            tr[k].cells[2].innerHTML = json.products[product_k].price;
                            tr[k].cells[3].innerHTML = "<input type='text' id = 'output"+k+"' style='width:50px' value = '1' alt=" + k + ">";
                            tr[k].cells[4].innerHTML = "<input type='button' value='Add to Card' id='button'  alt=" + k + ">";
                            tr[k].cells[3].abbr=k;
                            tr[k].cells[4].abbr=k;
                            tr[k].cells[4].onclick= function()
                                {
                                    var value = document.getElementById('output'+this.abbr).value
                                    var id = json.products[this.abbr-1].id;
                                    buyProduct(id, value)
                                }
                        }
                        k=0;
                        /*End creating table*/
                    }
                })
            }

            $('#search_button').click(function(){
              var name = document.getElementById('name').value
              var start_prise = document.getElementById('start_prise').value
              var end_prise = document.getElementById('end_prise').value
//              alert(name)
//              alert(start_prise)
//              alert(end_prise)
              createEntityByFilter(name, start_prise, end_prise)
            })



//            $('#search_button').click(function(){
            function createEntityByFilter(name, start_prise, end_prise){
                data = { 'name': name, 'start_prise': start_prise, 'end_prise': end_prise }
                $.ajax({
                dataType: "json",
                url: '/api/buy',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function(json)
                    {
                        deleting_grid()
                        creat_grid(json.products.length)
                        /*Create table */
                        for (var product_k in json.products)
                        {
                            k++;
                            tr[k].cells[0].innerHTML = json.products[product_k].name;
                            tr[k].cells[1].innerHTML = json.products[product_k].description;
                            tr[k].cells[2].innerHTML = json.products[product_k].price;
                            tr[k].cells[3].innerHTML = "<input type='text' id = 'output"+k+"' style='width:50px' value = '1' alt=" + k + ">";
                            tr[k].cells[4].innerHTML = "<input type='button' value='Add to Card' id='button'  alt=" + k + ">";
                            tr[k].cells[3].abbr=k;
                            tr[k].cells[4].abbr=k;
                            tr[k].cells[4].onclick= function()
                                {
                                    var value = document.getElementById('output'+this.abbr).value
                                    var id = json.products[this.abbr-1].id;
                                    buyProduct(id, value)
                                }
                        }
                        k=0;
                        /*End creating table*/

                    }

                })
            }


            function buyProduct(id,value)
            {
                $.ajax({
                    dataType: "json",
                    url: '/api/buy/'+id+'/'+value,
                    type: 'POST',
                    /*data: {id:id}*/
                    contentType: "application/json",
                    success: function(json)
                    {
                        if (json.message == 'success')
                            {
                            alert('The product was successfully added');
                            }
                        else
                         alert (json.message);
                    },

                    error: function(e)
                    {
                       error = JSON.parse(e.responseText);
                       alert(error.message);
                    }

                 })
             }


            var k=0;
            form_value = {id : $('#name_form').val(), name : $('#product_name').val()};
            json_value = JSON.stringify(form_value);

            createEntity();


            $('#clr').click(deleting_grid);
            });
        </script>



        <div class="">
            <div class="">
                <div class=" ">
                    <form class='form' action="">
                         <div class="ProductTitle">Filter</div>
                        <span>Keyword <input type="text" id = 'name' style="width:150px" /></span>
                        <span>Prise <input type="text" id = 'start_prise' style="width:50px" /> - </span>
                        <span><input type="text" id = 'end_prise' style="width:50px" /> </span>
                        <span><input type="button" value="search" id='search_button'></span>
                    </form>
                </div>
            </div>
            <div style="margin-left:80%;">
            </div>
            <div id=" ">
                <table id='grid' class="grid">
                    <tr>
                        <th>
                            Product
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Prise
                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                    </tr>
                </table>

                <div style="text-align: center">


                </div>

            </div>
        </div>
{% endblock body %}