{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="../static/js/region.js"></script>


<div id="region_table">
  <table id='grid' class="grid" style='width:700px;'>
    <tr>
      <th>
        Id
      </th>
      <th>
        Name
      </th>
      <th>
        Edit
      </th>
      <th>
        Delete
      </th>
    </tr>
  </table>
</div>

<form style='width:700px;' action="" id="info">

    <div class="top_bottom_line">
    <span class='info'>Add/Edit Region</span>
    </div>
    <div class="form_block">
    <div id="name-wrap" style="margin-left: 150px;">
    <label for="region_name" style="margin-left: 6px;">Name</label>
    <input type="text" id="region_name" name="name" style="margin:5px;" ></br>
    <input id="add_button" type="button" value="Add" style="display: inline; margin-left: 6px;">
    <input type="button" value="Update" id="edit_button">
    <input type="reset"  id="cancel"  value="Cancel">
    </div>
    </div>
</form>

{% endblock body %}