{% extends "layout.html" %}
{% block body %}

 <script type="text/javascript">


   var count_tr=25;
   var tr = [];
   var page = 1;



  $(document).ready (function() {
      var table_grid = document.getElementById('grid');
    function creat_grid(count)
    {
        for (var i=1; i<=count;i++ )
        {
            tr[i] = document.createElement('TR');
            table_grid.appendChild(tr[i]);
            tr[i].id=i;
            if (i % 2 == 0) tr[i].style.background = "#c0c0c0";
            for (var j=0; j<=7; j++)
             {
              tr[i].appendChild(document.createElement('TD'));
             }
        }
    }
    creat_grid();


  function clearing_tr(i)
  {
      for (var j=0; j<=7; j++)
      {
          tr[i].cells[j].innerHTML='';
      }
  }


  function clearing_grid()
  {
    for (var n=2 ; n<=count_tr; n++)
    {
      clearing_tr(n);
    }
  }
 function deleting_grid()
 {
    for (var n=table_grid.rows.length ; n>=2; n--)
      {
       table_grid.removeChild(table_grid.childNodes[n]);
      }

 }

 function create_entity(){
       $.ajax({
       dataType: "json",
        url: '/api/user',
        type: 'GET',
        data: json_value,
        contentType: "application/json",
        success: function(json)
        {
           //clearing_grid()


           deleting_grid()
           creat_grid(json.users.length)
           /*Create table with new user list */
            for (var user_k in json.users)
                {
                 k++;
                 if (k>count_tr) break;
                 tr[k].cells[0].innerHTML = json.users[user_k].login;
                 tr[k].cells[1].innerHTML = json.users[user_k].first_name;
                 tr[k].cells[2].innerHTML = json.users[user_k].last_name;
                 tr[k].cells[3].innerHTML = json.users[user_k].role_id;
                 tr[k].cells[4].innerHTML = json.users[user_k].email;
                 tr[k].cells[5].innerHTML = json.users[user_k].region_id;
                 tr[k].cells[6].innerHTML = "<img src='static/images/Text Edit.png' class='edit_img' alt=" + k + ">";
                 tr[k].cells[7].innerHTML = "<img src='static/images/delete.png' class='delete_img'  alt=" + k + ">";
                 tr[k].cells[6].abbr=k;
                 tr[k].cells[7].abbr=k;
                 tr[k].cells[6].onclick = function edit_tr2()
                                      {
                                       alert ('Edit '+tr[this.abbr].cells[1].innerHTML+'');
                                      }
                 tr[k].cells[7].onclick= function delete_tr2()
                                      {
                                        var str = tr[this.abbr].cells[1].innerHTML
                                        var id_tr = tr[this.abbr].cells[0].innerHTML
                                        if (confirm('Are you sure you want to delete user '+ str +' '+id_tr+'?'))
                                        {
                                          delete_id(id_tr,this.abbr)
                                        }
                                       }
                }
                k=0;
            /*End creating table*/

         }
      })
 }

    var k=0;
    form_value = {id : $('#name_form').val(), name : $('#user_name').val()};
    json_value = JSON.stringify(form_value);

    create_entity();




function delete_id(id,tr_id)
  {
  if (id=='') id=0;
   form_value = {id : id}
   json_value = JSON.stringify(form_value);
   $.ajax({
       dataType: "json",
        url: '/api/user/'+id,
        type: 'DELETE',
        /*data: {id:id}*/
        contentType: "application/json",
        success: function(json)
                    {
                        if (json.message == 'success')
                         {
                          alert('The user has been successfully deleted');
                          clearing_tr(tr_id);
                         }
                        else
                         alert (json.message);
                    },

        error: function(e)
                    {
                       error = JSON.parse(e.responseText);
                       alert(error.message);
                    }

 });

   $('#clr').click(deleting_grid);






    }
  function grid_pagination (){$.ajax({
        dataType: "json",
        url: '/api/user/'+page,
        type: 'GET',
        contentType: "application/json",
        success: function(json)
        {
           create_entity(json);
         }
      })
     }
      if (page==1)
  {grid_pagination ();}

   $('#next').click(function(){

    page=page+1;
    grid_pagination ()
    });

    $('#prev').click(function(){

    page=page-1;
    grid_pagination ()
    });
  });
   </script>

  </head>


  <body>

  <div id="user_block">
This page is appointed for creating new and managing existing users
	<li><a href="#" ONCLICK="NewWindow()"> Create New User</a></li>
	<script>
function NewWindow()
{window.open("index.php","","height=450,width=600,status=no,location=no,toolbar=no,directories=no,menubar=no");}
   </script>
	Number of Found User <a href="#">#</a>
      <div id="user_filter">
          <span>Search user</span>
        <div class="user_filter_in">
         <form class='form'>
		 
		 <div class="search">
         <select id="SelectId_user"  style="width:100px">
			<option value="str0">  </option>
			<option value="str1"> first name </option>
			<option value="str2"> last name </option>
			<option value="str2"> email </option>
			 </select>
			</div>
	
		<div class="search">
		 <select id="SelectId_key"  style="width:100px">
			<option value="str0">  </option>
			<option value="str1"> start with </option>
			<option value="str2"> contains </option>
			<option value="str3"> equal to </option>
		 </select>
		</div>
  
  		<input type="text" style="width:280px" />
		<input type="button" value="search" id='search_button'>
         </form>
		 </div>
          </div>
          <div style="margin-left:80%;">
		 <a href="#">show 25 items</a>
		 </div>
              <div id="user_table">
       <table id='grid' class="grid">
           <tr>
               <th>
                   User Name
               </th>
               <th>
                   First Name
               </th>
               <th>
                   Last Name
               </th>
               <th>
                   Role
               </th>
               <th>
                   Email
               </th>
			   <th>
                   Region
               </th>
               <th>
                   edit
               </th>
               <th>
                   delete
               </th>

           </tr>
       </table>
                           <div style="text-align: center"><input type="button" id="prev" value="<">&nbsp
              <input type="button" id="next" value=">"></div>
      </div>

  </div>

{% endblock body %}
