{% extends "layout.html" %}

{% block body %}

 <script type="text/javascript">

  var tr = [];


            $(document).ready (function() {
            var count_tr=$('#table_size').val();
            var count_td=11;
            var page = 1;
            var table_grid = document.getElementById('grid');
            function createGrid(count)
                {
                    for (var i=1; i<=count;i++ )
                        {
                            tr[i] = document.createElement('TR');
                            table_grid.appendChild(tr[i]);
                            tr[i].id=i;
                            if (i % 2 == 0) tr[i].style.background = "#f0f0f0";
                            for (var j=0; j<=7; j++)
                                {
                                    tr[i].appendChild(document.createElement('TD'));
                                }
                        }
                }
            createGrid();

            function clearingTr(i)
                {
                    for (var j=0; j<=7; j++)
                        {
                            tr[i].cells[j].innerHTML='';
                        }
                }


            function deletingGrid()
                {
                    for (var n=table_grid.rows.length ; n>=2; n--)
                        {
                            table_grid.removeChild(table_grid.childNodes[n]);
                        }

                }





    $('#search_button').click(function(){
    gridPagination();
    });


  function delete_id(id,tr_id)
  {
   $.ajax({
       dataType: "json",
        url: '/api/user/'+id,
        type: 'DELETE',
        /*data: {id:id}*/
        contentType: "application/json",
        success: function(json)
                    {
                        if (json.message == 'success')
                         {
                          alert('The user has been successfully deleted');
                          deletingGrid();
                          gridPagination();
                         }
                        else
                         alert (json.message);
                    },

        error: function(e)
                    {
                       error = JSON.parse(e.responseText);
                       alert(error.message);
                    }

  })
 }

  function ajaxSuccess(json){
           $("#ra").text(json.records_amount)
           deletingGrid()
           createGrid(json.users.length)

            for (var user_k in json.users)
                {
                 k++;

                 tr[k].cells[0].innerHTML = json.users[user_k].login+
                         '<input class="hidden_id" hidden="true" value ='+json.users[user_k].id+'>';
                 tr[k].cells[1].innerHTML = json.users[user_k].first_name;
                 tr[k].cells[2].innerHTML = json.users[user_k].last_name;
                 tr[k].cells[3].innerHTML = json.users[user_k].role_id;
                 tr[k].cells[4].innerHTML = json.users[user_k].email;
                 tr[k].cells[5].innerHTML = json.users[user_k].region_id;
                 tr[k].cells[6].innerHTML = "<img src='static/images/Text Edit.png' class='edit_img' alt=" + k + ">";
                 tr[k].cells[7].innerHTML = "<img src='static/images/delete.png' class='delete_img' alt=" + k + ">";
                 tr[k].cells[6].abbr=k;
                 tr[k].cells[7].abbr=k;
                     var id= tr[k].id= json.users[user_k].id;
                 tr[k].cells[6].onclick = function edit_tr2()
                                      {
                                       window.location.replace('edit_user/'+tr[this.abbr].id);
                                      }
                 tr[k].cells[7].onclick= function delete_tr2()
                                      {


                                        if (confirm('Are you sure you want to delete user ?'))
                                        {
                                            var tr1= $(this).closest('tr');
                                           var id_h = tr1.children('td').children('.hidden_id').val();

                                          delete_id(id_h,this.abbr)
                                        }
                                       }
                }
                k=0;
            /*End creating table*/


  }
            var k=0;
            form_value = {id : $('#name_form').val(), name : $('#user_name').val()};
            json_value = JSON.stringify(form_value);

             $('#clr').click(deletingGrid);



            $('#apply_button').click(function(){
                gridPagination()
            });

            function gridPagination(){
                $.ajax({
                dataType: "json",
                url: '/api/users/?page='+page+'&table_size='+count_tr+'',
                type: 'GET',
                contentType: "application/json",
                success: function(json)
                    {
                        ajaxSuccess(json);
                        records_amount=(json.records_amount);
   records_per_page=(json.records_per_page);
   pages_amount = Math.ceil(records_amount/records_per_page);
   document.getElementById("page").innerHTML = page;
   document.getElementById("pages_amount").innerHTML = pages_amount;

   if (page==1){
               $('#prev').prop('disabled', true);
               $('#first').prop('disabled', true);
               $('#prev').addClass("button_disable");
               $('#first').addClass("button_disable");
           } else {
               $('#prev').prop('disabled', false);
               $('#first').prop('disabled', false);
               $('#prev').removeClass("button_disable");
               $('#first').removeClass("button_disable");
               $('#prev').removeAttr("disabled");
               $('#first').removeAttr("disabled");
           }

           if (page==pages_amount){
               $('#next').prop('disabled', true);
               $('#last').prop('disabled', true);
               $('#next').addClass("button_disable");
               $('#last').addClass("button_disable");

           } else {
               $('#next').prop('disabled', false);
               $('#last').prop('disabled', false);
               $('#next').removeClass("button_disable");
               $('#last').removeClass("button_disable");
               $('#next').removeAttr("disabled");
               $('#last').removeAttr("disabled");
           }
                    }
                })
            }

            if (page==1){
                gridPagination();
            }

            $('#next').click(function(){
            if (page*records_per_page>=records_amount){page=page}
            else {page=page+1}
            gridPagination()
            });

            $('#prev').click(function(){
            page=page-1;
            if (page<=1){
            page=1;
            }
            gridPagination()
            });

            $('#first').click(function(){
            page=1;
            gridPagination()
            });

            $('#last').click(function(){
            page=pages_amount;
            gridPagination()
            });

            $('#table_size').change(function () {
            count_tr=$('#table_size').val();
            $( "#table_siz option:selected" ).each(gridPagination())
            })

            });
   </script>

  </head>


  <body>

  <div id="user_block">
This page is appointed for creating new and managing existing users
<div>
     <a href='create_user' style='margin-left:50px; color:black; text-decoration:none;'>
     <input type='button' value="Create New User">
     </a>
 </div>

      <div id="user_filter">

        <div class="user_filter_in">
         <form class='form'>
         <div class="top_bottom_line">
                  <span class='info'>Search user</span>
         </div>
             <div class="form_block">
<table class="grid">
   <tr>
        <td>
                 <div class="search">
         <select class="span1" id="SelectId_user" style="width:100px">
                        <option value="str0"> User Name </option>
                        <option value="str1"> first name </option>
                        <option value="str2"> last name </option>
                        <option value="str3"> email </option>
                        <option value="str4"> Role </option>
                        <option value="str5"> All Columns </option>
                         </select>
                        </div>
        </td>
        <td>
                <div class="search">
                 <select id="SelectId_key" style="width:100px">
                        <option value="str0"> start with </option>
                        <option value="str1"> equals </option>
                        <option value="str2"> contains </option>
                        <option value="str3"> not equal to </option>
                        <option value="str4"> does not contain </option>
                 </select>
                </div>
          </td>
          <td>
                <br><br><input type="text" style="..." id="key_input"></br>
                <input type="button" value="search" id='search_button'>
        </td>
   </tr>
</table>
         </div>
         </form>
                 </div>
          </div>
<div class="field" style="margin-left:5%;">
      Number of Found User #  <span id = "ra">0</span>
</div>
<div class="field" style="margin-left:5%;">
                  <lable>Table size: </lable>
                  <select class="span1" id="table_size">
                    <option selected>5</option>
                    <option>25</option>

                   </select>

            </div>

              <div id="user_table">
       <table id='grid' class="grid">
           <tr>
               <th>
                   User Name
               </th>
               <th>
                   First Name
               </th>
               <th>
                   Last Name
               </th>
               <th>
                   Role
               </th>
               <th>
                   Email
               </th>
                         <th>
                   Region
               </th>
               <th>
                   edit
               </th>
               <th>
                   delete
               </th>

           </tr>
       </table>

            <div id="pagination" style="text-align: center">
                <input type="button" id="first" value="First">&nbsp
                <input type="button" id="prev" value="Prev">&nbsp

                <input type="button" id="next" value="Next">&nbsp
                <input type="button" id="last" value="Last">
                <div style="font-size:14px; color:#606860;">Page <span id="page"></span> of <span id="pages_amount"></span></div>
            </div></div></div>



{% endblock body %}

