{% extends "layout.html" %}
{% block body %}
<head>
 <script type="text/javascript">

  var count_tr=25;
   var tr = [];

   

  $(document).ready(function() {
    var page = 1;
    var table_grid = document.getElementById('grid');
    function creat_grid(count)
    {
        for (var i=1; i<=count;i++ )
        {
            tr[i] = document.createElement('TR');
            table_grid.appendChild(tr[i]);
            tr[i].id=i;
            if (i % 2 == 0) tr[i].style.background = "#c0c0c0"; /* .className = 'tr_style' */
            for (var j=0; j<=7; j++)
             {
              tr[i].appendChild(document.createElement('TD'));
             }
        }
      $( "tr:even" ).css( "background-color", "#c0c0c0" );
    }

    creat_grid(count_tr);
  /*End of creating table*/


  function clearing_tr(i)
  {
      for (var j=0; j<=7; j++)
      {
          tr[i].cells[j].innerHTML='';
      }
  }


  function clearing_grid()
  {
    for (var n=2 ; n<=count_tr; n++)
    {
      clearing_tr(n);
    }
  }

 function deleting_grid()
 {
    for (var n=table_grid.rows.length ; n>=2; n--)
      {
       table_grid.removeChild(table_grid.childNodes[n]);
      }

 }


 function create_entity(){
       $.ajax({
        dataType: "json",
        url: '/api/user',
        type: 'GET',
        data: json_value,
        contentType: "application/json",
        success: function(json)
        {
            ajax_success(json);
         }
      })
 }

    var k=0;
    form_value = {id : $('#name_form').val(), name : $('#user_name').val()};
    json_value = JSON.stringify(form_value);



    $('#apply_button').click(function(){
    create_entity();
    });


  function delete_id(id,tr_id)
  {
  if (id=='') id=0;
   form_value = {id : id};
   json_value = JSON.stringify(form_value);
   $.ajax({
       dataType: "json",
        url: '/api/user/'+id,
        type: 'DELETE',
        /*data: {id:id}*/
        contentType: "application/json",
        success: function(json)
                    {
                        if (json.message == 'success')
                         {
                          alert('The user has been successfully deleted');
                          clearing_tr(tr_id);
                          create_entity();
                         }
                        else
                         alert (json.message);
                    },

        error: function(e)
                    {
                       error = JSON.parse(e.responseText);
                       alert(error.message);
                    }

  })
 }

  function ajax_success(json){

           deleting_grid()
           creat_grid(json.users.length)
          
            for (var user_k in json.users)
                {
                 k++;

                 tr[k].cells[0].innerHTML = json.users[user_k].login;
                 tr[k].cells[1].innerHTML = json.users[user_k].first_name;
                 tr[k].cells[2].innerHTML = json.users[user_k].last_name;
                 tr[k].cells[3].innerHTML = json.users[user_k].role_id;
                 tr[k].cells[4].innerHTML = json.users[user_k].email;
                 tr[k].cells[5].innerHTML = json.users[user_k].region_id;
                 tr[k].cells[6].innerHTML = "<img src='static/images/Text Edit.png' class='edit_img' alt=" + k + ">";
                 tr[k].cells[7].innerHTML = "<img src='static/images/delete.png' class='delete_img'  alt=" + k + ">";
                 tr[k].cells[6].abbr=k;
                 tr[k].cells[7].abbr=k;
                 tr[k].cells[6].onclick = function edit_tr2()
                                      {
                                       alert ('Edit '+tr[this.abbr].cells[1].innerHTML+'');
                                      }
                 tr[k].cells[7].onclick= function delete_tr2()
                                      {
                                        var str = tr[this.abbr].cells[1].innerHTML
                                        var id_tr = tr[this.abbr].cells[0].innerHTML
                                        if (confirm('Are you sure you want to delete user '+ str +' '+id_tr+'?'))
                                        {
                                          delete_id(id_tr,this.abbr)
                                        }
                                       }
                }
                k=0;
            /*End creating table*/


  }

   $('#clr').click(deleting_grid);

  function grid_pagination(){$.ajax({
        dataType: "json",
        url: '/api/user/'+page,
        type: 'GET',
        contentType: "application/json",
        success: function(json)
        {
           ajax_success(json);
           records_amount=(json.records_amount);
           records_per_page=(json.records_per_page);
           pages_amount = Math.ceil(records_amount/records_per_page);
           document.getElementById("page").innerHTML = page;
           document.getElementById("pages_amount").innerHTML = pages_amount

           if (page==1){
               $('#prev').css({ "opacity":"0.4"});
               $('#first').css({ "opacity":"0.4"});
           } else {$('#prev').css({ "opacity": "1"});
               $('#first').css({ "opacity": "1"});
           }

           if (page==pages_amount){
               $('#next').css({ "opacity": "0.4"});
               $('#last').css({ "opacity": "0.4"});
           } else {$('#next').css({ "opacity": "1"});
               $('#last').css({ "opacity": "1"});
           }
         }
      })
     }

  if (page==1)
  {grid_pagination();
  }

   $('#next').click(function(){
    if (page*records_per_page>=records_amount){page=page}
    else {page=page+1}
    grid_pagination()
    });

    $('#prev').click(function(){
    page=page-1;
        if (page<=1){
        page=1;
    }
    grid_pagination()
    });

    $('#first').click(function(){
    page=1;
    grid_pagination()
    });

    $('#last').click(function(){
    page=pages_amount;
    grid_pagination()
    });

 });




   </script>

  </head>


  <body>

  <div id="user_block">
This page is appointed for creating new and managing existing users
	<li><a href="#" ONCLICK="NewWindow()"> Create New User</a></li>
	<script>
function NewWindow()
{window.open("create_user","","height=450,width=600,status=no,location=no,toolbar=no,directories=no,menubar=no");}
   </script>

      <div id="user_filter">
          
        <div class="user_filter_in">
         <form class='form'>
		 <span>Search user</span>
		 <div class="search">
         <select id="SelectId_user"  style="width:100px">
			<option value="str0">  </option>
			<option value="str1"> first name </option>
			<option value="str2"> last name </option>
			<option value="str2"> email </option>
			 </select>
			</div>
	
		<div class="search">
		 <select id="SelectId_key"  style="width:100px">
			<option value="str0">  </option>
			<option value="str1"> start with </option>
			<option value="str2"> contains </option>
			<option value="str3"> equal to </option>
		 </select>
		</div>
  
  		<input type="text" style="width:280px" />
		<input type="button" value="search" id='search_button'>
         </form>
		 </div>
          </div>
          <div style="margin-left:80%;">
		 <a href="#">show 25 items</a>
		 </div>
              <div id="user_table">
       <table id='grid' class="grid">
           <tr>
               <th>
                   User Name
               </th>
               <th>
                   First Name
               </th>
               <th>
                   Last Name
               </th>
               <th>
                   Role
               </th>
               <th>
                   Email
               </th>
			   <th>
                   Region
               </th>
               <th>
                   edit
               </th>
               <th>
                   delete
               </th>

           </tr>
       </table>

            <div id="pagination" style="text-align: center">
                <input type="button" id="first" value="First">&nbsp
                <input type="button" id="prev" value="Prev">&nbsp

                <input type="button" id="next" value="Next">&nbsp
                <input type="button" id="last" value="Last">
                <div style="font-size:14px; color:#606860;">Page <span id="page"></span> of <span id="pages_amount"></span></div>
            </div>


{% endblock body %}
