<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Table</title>
<link rel="stylesheet" href="../static/styles/grid.css" />
<link rel="stylesheet" href="../static/styles/style1.css" />
</head>
<body>
<div id="wrapper">
<div id="header">

<ul id="nav">
        <li><a href="index.html" title="Users" class="active">Users</a></li>
        <li><a href="product.html" title="Product">Product</a></li>
        <li><a href="orders.html" title="Orders">Orders</a></li>
        <li><a href="table.html" title="Table">Table</a></li>
        <li><a href="login(2).html" title="Log in">Log in</a></li>
        <li><a href="exit.html" title="Exit">Exit</a></li>  
    </ul>

</div>
</br></br></br></br>		
<table cellpadding="0" cellspacing="0" border="0" id="table" class="sortable">
		<thead>
			<tr>
				<th class="nosort"><h3>ID</h3></th>
				<th><h3>Product name</h3></th>
				<th><h3>Description</h3></th>
				<th><h3>Price</h3></th>
				<th><h3>Dimension</h3></th>
				<th class="nosort"><h3>Edit</h3></th>
				<th class="nosort"><h3>Delete</h3></th>
			</tr>
		</thead>
		<tbody>
			
			<tr>
				<td>1</td>
				<td>Orange</td>
				<td>Sicilian</td>
				<td>3$</td>
				<td>kg</td>
				<td></td>
				<td></td>
			</tr>

<tr>
				<td>2</td>
				<td>Apple</td>
				<td>"Golden"</td>
				<td>4$</td>
				<td>kg</td>
				<td></td>
				<td></td>
			</tr>

<tr>
				<td>3</td>
				<td>Pepper</td>
				<td>Chile</td>
				<td>5$</td>
				<td>kg</td>
				<td></td>
				<td></td>
			</tr>

<tr>
				<td>4</td>
				<td>Island</td>
				<td>McGibbon</td>
				<td>35200$</td>
				<td>unit</td>
				<td></td>
				<td></td>
			</tr>

<tr>
				<td>5</td>
				<td>Nuclear warhead</td>
				<td>"Trident II"</td>
				<td>29100000$</td>
				<td>unit</td>
				<td></td>
				<td></td>


			</tr>

<tr>
				<td>6</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>


			</tr>


		</tbody>
  </table>
	<div id="controls">
		<div id="perpage">
			<select onchange="sorter.size(this.value)">
			<option value="5">5</option>
				<option value="10" selected="selected">10</option>
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
			<span>Entries Per Page</span>
		</div>
		<div id="navigation">
			<img src="../static/images/first.gif" width="16" height="16" alt="First Page" onclick="sorter.move(-1,true)" />
			<img src="../static/images/previous.gif" width="16" height="16" alt="First Page" onclick="sorter.move(-1)" />
			<img src="../static/images/next.gif" width="16" height="16" alt="First Page" onclick="sorter.move(1)" />
			<img src="../static/images/last.gif" width="16" height="16" alt="Last Page" onclick="sorter.move(1,true)" />
		</div>
		<div id="text">Displaying Page <span id="currentpage"></span> of <span id="pagelimit"></span></div>
	</div>
	<script type="text/javascript" src="../static/js/script.js"></script>
	<script type="text/javascript">
  var sorter = new TINY.table.sorter("sorter");
	sorter.head = "head";
	sorter.asc = "asc";
	sorter.desc = "desc";
	sorter.even = "evenrow";
	sorter.odd = "oddrow";
	sorter.evensel = "evenselected";
	sorter.oddsel = "oddselected";
	sorter.paginate = true;
	sorter.currentid = "currentpage";
	sorter.limitid = "pagelimit";
	sorter.init("table",1);
  </script>
</br></br></br></br>	</br></br></br></br>	</br></br></br></br>	</br></br></br></br>	</br></br></br></br>	</br></br></br></br>	</br></br></br></br>	
<div id="footer">
	
</div>
<!-- end #footer-->

</div>
<!-- end #wrapper-->

</body>

</html>
