{% extends "layout.html" %}
{% block body %}

<form id="info" name="form" class = "form" method ="POST" >
         <h2 class="ProductTitle" >Status</h2>
         <select class="current_order" id="status" name="status">
         <option value="">Select status</option>
         </select>

         <h2 class="ProductTitle" >Delivery type</h2>

         <select class="current_order" id="delivery" name="delivery">
         <option value="">Select delivery type</option>
         </select></br></br>


         <div class ="delivery_address">
         <label for="delivery_address">Delivery Address</label>
               <input id="delivery_address" name="delivery_address" type="text" value="" >
         </div>
         </div></br>

                 <div class ="comments">
         <label for="comments">Comments</label>
               <textarea class="comments_area" id="comments" name="comments" type="text" value="" ></textarea>
         </div>
         </div>


    </br></br>

         <input type="button" value ="Update" class="button">

    </form><form action="" id="form">
<fieldset style="width: 300px; height: 100px">
  <legend>Add/Edit Region</legend>
    <div id="status_id-wrap">
    <label for="order_name">Name</label>
    <input type="text" id="order_name" name="name">
    <p><input type="button" value="Update" id="edit"></p>
</div>
</fieldset>

</form>


{% endblock body %}