      <script type="text/javascript">
    $.ajax({
            dataType: "json",
            url: '/api/status',
            type: 'GET',
            contentType: "application/json",
            success:function(json) {
                $.each(json.status, function(i, pr){
                    $('#status').append('<option value="' + pr.id + '">' + pr.name + '</option>');
                })
            }
    });
    </script><script>
     $.ajax({
            dataType: "json",
            url: '/api/delivery',
            type: 'GET',
            contentType: "application/json",
            success:function(json) {
                $.each(json.delivery, function(k, j){
                    $('#delivery').append('<option value="' + j.id + '">' + j.name + '</option>');
                })
            }
     });

</script>

<style type="text/css">
    div { clear:both;position:relative; }
</style>

    <form id="info"  name="form"  class = "form" method ="POST"  >
         <h2 class="ProductTitle" >Status</h2>
         <select class="current_order" id="status" name="status">
         <option value="">Select status</option>
         </select>

         <h2 class="ProductTitle" >Delivery type</h2>

         <select class="current_order" id="delivery" name="delivery">
         <option value="">Select delivery type</option>
         </select></br></br>


         <div class ="delivery_address">
	           <label for="delivery_address">Delivery Address</label>
               <input id="delivery_address" name="delivery_address" type="text" value="" >
         </div>
         </div></br>

		 <div class ="comments">
	           <label for="comments">Comments</label>
               <textarea class="comments_area" id="comments" name="comments" type="text" value="" ></textarea>
         </div>
         </div>


    </br></br>

         <input type="button" value ="Update" class="button">

    </form>